<wizard class="arc-wizard background" navBarLayout="large-empty-symbols">
  <wizard-step stepTitle="Pertional Details">
    <br><br><br>
    <app-personal-details></app-personal-details>
    <br>
    <br>
    <br>
  </wizard-step>
  <wizard-step stepTitle="Title of step 2">
    <br><br><br>
    <app-bussiness-details></app-bussiness-details>
    <br>
    <br>
    <br>
  </wizard-step>
  <wizard-step stepTitle="Title of step 3">
    <br><br><br>
    <app-question-details></app-question-details>
    <br>
    <br>
    <br>
  </wizard-step>
</wizard>