// @media(max-width: 992px) {
    .dealImg {
        // height: 250px;
        width: 100%;
    }
// }

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/photo-1576948676159-ad6604dc1fd0.jpeg);
    min-height: 140px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 480px) {
    .small-card {
        display: none;
    }
}

@media (max-width: 479px) {
    .large-card {
        display: none;
    }
}

.deal-text h1 {
    // font-family: 'Amatic SC', cursive
    font-size: 40px;
}

// .carousel-indicators {
//   display: none;
// }
// .carousel .carousel-indicators {
//     cursor: default;
//     pointer-events: none;
//   }
// mdb-carosel ol .carousel-indicators {
//   position: relative;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: -1500;
//   display: none;
//   justify-content: center;
//   padding-left: 0;
//   margin-right: 15%;
//   margin-left: 15%;
//   list-style: none;
// }
// .col-8 .card-body{
//   color: black;
// }
// /* control image height */
// .card-img-top-250 {
//   max-height: 250px;
//   overflow:hidden;
// }
// mdb-carousel-item{
//   align-content: center;
//   justify-content: center;
//   // display: flex;
// }
// @media screen and (max-width: 990px){
//  .small-screen{
//    display: inherit;
//  }
//  .large-screen{
//    display: none;
//  }
// }
// @media screen and (min-width: 990px){
//   .small-screen{
//     display: none;
//   }
//   .large-screen{
//     display: inherit;
//   }
//  }