@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@media (min-width: 768px) {
    mdb-card {
        height: 210px;
    }
}
.all{
  background-color: rgb(56,50,48) !important;
}
.large-screen{
  height: 390px !important;
}
.deal-card {
    width: 460px;
    height: 200px;
}
.deal-card a{
 margin-top: -34px;
}
.deal-img {
    width: 150px;
    height: 180px;
    border-radius: 10px;
    margin: 10px 0 0 10px;
}
.deal-text h1{
  font-family: 'Amatic SC', cursive ;
  color:white;
  margin-left: auto;
  margin: 25px;
  font-size: 40px;
}
.col-8 .card-body{
  color: black;
}

/* control image height */
.card-img-top-250 {
  max-height: 250px;
  overflow:hidden;
}
mdb-carousel-item{
  align-content: center;
  justify-content: center;
  // display: flex;
}
@media screen and (max-width: 990px){
 .small-screen{
   display: inherit;
 }
 .large-screen{
   display: none;
 }
}
@media screen and (min-width: 990px){
  .small-screen{
    display: none;
  }
  .large-screen{
    display: inherit;
  }
 }
