<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" [routerLink]="['/']">
            <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="Voila">
        </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item" *ngIf="jwtService.getToken() && (userService.getRole() === 'tourist')">
                <a [routerLink]="['/tourists/touristshome/favourites']" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="heart"></mdb-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="jwtService.getToken()">
                <a class="nav-link waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon  fas  icon="envelope"></mdb-icon>
                    <span class="nav-label-icon circle" *ngIf="msgNumber > 0">{{msgNumber}}</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="jwtService.getToken() && (userService.getRole() === 'tourist')">
                <a class="nav-link waves-light" [routerLink]="['/tourists/touristshome/bookings']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Bookings</a>
            </li>
            <li class="nav-item" 
                *ngIf="!jwtService.getToken()">
              <a class="nav-link waves-light"  [routerLink]="['/login/tourist']" mdbWavesEffect>
                  <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                  LogIn</a>
          </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown *ngIf="!jwtService.getToken()" >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    Register<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['touristsRegister']">Tourists</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['guideRegister']">Guide</a>
                </div>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/']">About</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/']">Contact us</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/']">Help!</a>
                </div>
            </li>

            <li class="nav-item avatar dropdown" dropdown  
                *ngIf="jwtService.getToken() && (userService.getRole() === 'tourist')">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>

                    <!-- More<span class="caret"></span> -->
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/tourists/touristshome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/tourists/touristshome/changePassword']" routerLinkActive="active">Change Password</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Logout</a>

                </div>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
