<!--Navbar-->
<mdb-navbar class="d-block d-lg-none" #navbarid  SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="false" >
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a *ngIf="!jwtService.getToken()" class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
        <a *ngIf="jwtService.getToken() && (userService.getRole() === 'tourist')" class="navbar-brand" [routerLink]="['/tourists/touristshome']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
        <a  *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')" class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul *ngIf="!jwtService.getToken()" class="navbar-nav ml-auto">
            <li class="nav-item">
              <a (click)="onLinkClick()" class="nav-link waves-light"  [routerLink]="['/login/tourist']" routerLinkActive="active" mdbWavesEffect>
                  <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                  LogIn</a>
          </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    Register<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/touristsRegister']" routerLinkActive="active">Tourists</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/guideRegister']" routerLinkActive="active">Guide</a>
                </div>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/aboutUs']"  routerLinkActive="active">About</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'tourist')" class="navbar-nav ml-auto">

            <li class="nav-item">
                <a [routerLink]="['/tourists/touristshome/favourites']" routerLinkActive="active" (click)="onLinkClick()" class="nav-link waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="heart"></mdb-icon>Favourites
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/tourists/touristshome/messages']" (click)="onLinkClick()" routerLinkActive="active">
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon  fas  icon="envelope"></mdb-icon>Message
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/tourists/touristshome/bookings']" routerLinkActive="active" (click)="onLinkClick()" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Bookings</a>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle" style="height:32px; width:32px;"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>

                    <!-- More<span class="caret"></span> -->
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/tourists/touristshome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/tourists/touristshome/changePassword']" routerLinkActive="active">Change Password</a>
                    <a class="dropdown-item waves-light text-white" (click)="onLinkClick()" mdbWavesEffect (click)="logout('tourist')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')"
            class="navbar-nav ml-auto d-block d-lg-none">
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/messages']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon  fas  icon="envelope"></mdb-icon>Message
                </a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/bookings']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Bookings</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/requests']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Requests</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/activities']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Activites</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/deals']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Deals</a>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- More<span class="caret"></span> -->
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/changepassword']" routerLinkActive="active">Change Password</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light text-white" mdbWavesEffect (click)="logout('guide')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')"
            class="navbar-nav ml-auto d-none d-lg-inline-flex">
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- More<span class="caret"></span> -->
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome']" routerLinkActive="active">Dashboard</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/changepassword']" routerLinkActive="active">Change Password</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light text-white" mdbWavesEffect (click)="logout('guide')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->












































<!--Navbar-->
<mdb-navbar  class="d-none d-lg-block" SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="false" >
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a *ngIf="!jwtService.getToken()" class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
        <a *ngIf="jwtService.getToken() && (userService.getRole() === 'tourist')" class="navbar-brand" [routerLink]="['/tourists/touristshome']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
        <a  *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')" class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul *ngIf="!jwtService.getToken()" class="navbar-nav ml-auto">
            <li class="nav-item">
              <a (click)="onLinkClick()" class="nav-link waves-light"  [routerLink]="['/login/tourist']" routerLinkActive="active" mdbWavesEffect>
                  <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                  LogIn</a>
          </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    Register<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/touristsRegister']" routerLinkActive="active">Tourists</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/guideRegister']" routerLinkActive="active">Guide</a>
                </div>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/aboutUs']"  routerLinkActive="active">About</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'tourist')" class="navbar-nav ml-auto">

            <li class="nav-item">
                <a [routerLink]="['/tourists/touristshome/favourites']" routerLinkActive="active" (click)="onLinkClick()" class="nav-link waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="heart"></mdb-icon>Favourites
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/tourists/touristshome/messages']" (click)="onLinkClick()" routerLinkActive="active">
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon  fas  icon="envelope"></mdb-icon>Message
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/tourists/touristshome/bookings']" routerLinkActive="active" (click)="onLinkClick()" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Bookings</a>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>

                    <!-- More<span class="caret"></span> -->
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/tourists/touristshome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/tourists/touristshome/changePassword']" routerLinkActive="active">Change Password</a>
                    <a class="dropdown-item waves-light text-white" (click)="onLinkClick()" mdbWavesEffect (click)="logout('tourist')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')"
            class="navbar-nav ml-auto d-block d-lg-none">
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/messages']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon  fas  icon="envelope"></mdb-icon>Message
                </a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/bookings']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Bookings</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/requests']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Requests</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/activities']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Activites</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/deals']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Deals</a>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- More<span class="caret"></span> -->
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/changepassword']" routerLinkActive="active">Change Password</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light text-white" mdbWavesEffect (click)="logout('guide')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')"
            class="navbar-nav ml-auto d-none d-lg-inline-flex">
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- More<span class="caret"></span> -->
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome']" routerLinkActive="active">Dashboard</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/changepassword']" routerLinkActive="active">Change Password</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light text-white" mdbWavesEffect (click)="logout('guide')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

