/* Style the header with a grey background and some padding */
.header {
    /* overflow: hidden; */
    /* background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 25%, rgba(101,101,101,1) 27%, rgba(89,89,89,1) 44%, rgba(44,44,44,1) 72%, rgba(43,43,43,1) 80%, rgba(0,0,0,1) 96%, rgba(17,17,17,1) 96%, rgba(0,0,0,1) 100%);    padding: 8px 10px; */
    padding-right: 20px;
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 25%, rgba(101,101,101,1) 27%, rgba(89,89,89,1) 44%, rgba(44,44,44,1) 72%, rgba(28,28,28,1) 100%);
    /* border-bottom: 1px solid darkgray; */
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px 10px ;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

.header a:hover{
    color: #FF5A09;
}

#brand-image{
    height: 60px;
    width: 120px;
    margin-top: -35px;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    margin-right: 0;
}

.dropdown-menu {
  background-color: #393939;
  border: 1px solid gray;
  padding: 5px;
  min-width: 200px;
  max-height: 200px;
}

/* .dropdown-menu a {
   font-size: 16px;
} */

.svg-inline--fa {
  vertical-align: 0;
}

/* -------------angular css--------------------------------- */

.header .active {
    color: #FF5A09;
}

/* -------------------------serach bar css------------------------ */

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    margin-left:370px; 
   }
   .search-box:hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100% ,-50%);
    background:#FF5A09;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
   
   }
   .search-box:hover > .search-txt {
    width: 240px;
    margin: -12px 0 0 10px;
    padding: -10px;
    color: white;
   }
   
   .search-box:hover > .search-btn {
    background: white;
    color: black;
    height: 35px;
    width: 35px;
    /* margin-bottom: 20px; */
    /* margin-top: 5px; */
    /* margin-top: 0px; */
   }
   
   .search-btn {
    color: white;
    margin-top: -10px;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FF5A09;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
   }
   
   .search-btn > i {
    font-size: 30px;
   }
   
   .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }
   .search-box ::placeholder{
   color:white;
   }