<!--Navbar-->
<mdb-navbar class="d-block d-lg-none" #navbarid  SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="false" >
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a *ngIf="!jwtService.getToken()" class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
        <a *ngIf="jwtService.getToken() && (userService.getRole() === 'tourist')" class="navbar-brand" [routerLink]="['/tourists/touristshome']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
        <a  *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')" class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
        <a  *ngIf="jwtService.getToken() && (userService.getRole() === 'admin')" class="navbar-brand">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul *ngIf="!jwtService.getToken()" class="navbar-nav ml-auto">
            <li class="nav-item">
              <a (click)="onLinkClick()" class="nav-link waves-light"  [routerLink]="['/login/tourist']" routerLinkActive="active" mdbWavesEffect>
                  <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                  <mdb-icon fas icon="sign-in-alt"></mdb-icon>LogIn</a>
          </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="user-plus"></mdb-icon>Register<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/touristsRegister']" routerLinkActive="active">Tourists</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/guideRegister']" routerLinkActive="active">Guide</a>
                </div>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link waves-light" mdbWavesEffect> -->
                    <!-- <input type="text" class="inputStyle" mdbInput [(ngModel)]="curr" >  -->
                <!-- </a> -->
                <!-- <select  -->
                    <!-- <select class="inputStyle" [(ngModel)]="curr" (change)="changeCurrency($event)" id="form7" class="browser-default custom-select" #state (change)="getAllCity(state.value)">
                        <option *ngFor="let item of currencyData" [value]="item.name"> {{ item?.name }}</option>
                    </select> -->
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/aboutUs']"  routerLinkActive="active">About</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'tourist')" class="navbar-nav ml-auto">

            <li class="nav-item">
                <a [routerLink]="['/tourists/touristshome/favourites']" routerLinkActive="active" (click)="onLinkClick()" class="nav-link waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="heart"></mdb-icon>Favourites
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/tourists/touristshome/messages']" (click)="onLinkClick()" routerLinkActive="active">
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon  fas  icon="envelope"></mdb-icon>Message
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/tourists/touristshome/bookings']" routerLinkActive="active" (click)="onLinkClick()" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Bookings</a>
            </li>
            <li class="nav-item" (click)="getOngoingEvents()">
                <a  (click)="onLinkClick()" class="nav-link waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="clipboard-check"></mdb-icon>Events
                </a>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle" style="width:32px;"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>

                    <!-- More<span class="caret"></span> -->
                    <mdb-icon fas icon="user"></mdb-icon>
                    <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;"> -->
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/tourists/touristshome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/tourists/touristshome/changePassword']" routerLinkActive="active">Change Password</a>
                    <a class="dropdown-item waves-light text-white" (click)="onLinkClick()" mdbWavesEffect (click)="logout('tourist')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')"
            class="navbar-nav ml-auto d-block d-lg-none">
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/messages']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon  fas  icon="envelope"></mdb-icon>Message
                </a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/bookings']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Bookings</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/requests']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Requests</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/activities']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Activites</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/deals']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Deals</a>
            </li>
            <li class="nav-item" (click)="getOngoingEvents()">
                <a  (click)="onLinkClick()" class="nav-link waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="clipboard-check"></mdb-icon>Events
                </a>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- More<span class="caret"></span> -->
                    <img [src]="user?.picUrl ? user?.picUrl : 'https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/grayman.png'" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/changepassword']" routerLinkActive="active">Change Password</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light text-white" mdbWavesEffect (click)="logout('guide')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')"
            class="navbar-nav ml-auto d-none d-lg-inline-flex">
            <li class="nav-item" (click)="getOngoingEvents()">
                <a  (click)="onLinkClick()" class="nav-link waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="clipboard-check"></mdb-icon>Events
                </a>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <img [src]="user?.picUrl ? user?.picUrl : 'https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/grayman.png'" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome']" routerLinkActive="active">Dashboard</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/changepassword']" routerLinkActive="active">Change Password</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light text-white" mdbWavesEffect (click)="logout('guide')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'admin')" class="navbar-nav ml-auto">
            <li class="nav-item">
              <a (click)="logout('admin')" (click)="onLinkClick()" class="nav-link waves-light" routerLinkActive="active" mdbWavesEffect>
                  <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                  Logout</a>
          </li>
          <li>
            <!-- <a [routerLink]="['/admin/emergency']" (click)="onLinkClick()" routerLinkActive="router-link-active"  class="nav-link waves-light" routerLinkActive="active" mdbWavesEffect>
                SOS Alerts
            </a> -->
          </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/aboutUs']"  routerLinkActive="active">About</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->






<!--Navbar-->
<mdb-navbar  class="d-none d-lg-block" SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="false" >
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a *ngIf="!jwtService.getToken()" class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
        <a *ngIf="jwtService.getToken() && (userService.getRole() === 'tourist')" class="navbar-brand" [routerLink]="['/tourists/touristshome']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
        <a  *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')" class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
        <a  *ngIf="jwtService.getToken() && (userService.getRole() === 'admin')" class="navbar-brand">
            <img src="assets/images/areoplane white.png" height="40" alt="Voila">
        </a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul *ngIf="!jwtService.getToken()" class="navbar-nav ml-auto">
            <li class="nav-item">
              <a (click)="onLinkClick()" class="nav-link waves-light"  [routerLink]="['/login/tourist']" routerLinkActive="active" mdbWavesEffect>
                  <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                  <mdb-icon fas icon="sign-in-alt"></mdb-icon>LogIn</a>
          </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="user-plus"></mdb-icon>Register<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/touristsRegister']" routerLinkActive="active">Tourists</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/guideRegister']" routerLinkActive="active">Guide</a>
                </div>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link waves-light" mdbWavesEffect> -->
                    <!-- <input type="text" class="inputStyle" mdbInput [(ngModel)]="curr" (change)="changeCurrency($event)">  -->
                <!-- </a> -->
                <select class="inputStyle" [(ngModel)]="curr" (change)="changeCurrency($event)" id="form7" class="browser-default custom-select" #state (change)="getAllCity(state.value)">
                    <!-- <option value="" disabled></option> -->
                    <option *ngFor="let item of currencyData" [value]="item.name"> {{ item?.name }}</option>
                </select>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/aboutUs']"  routerLinkActive="active">About</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'tourist')" class="navbar-nav ml-auto">

            <li class="nav-item">
                <a [routerLink]="['/tourists/touristshome/favourites']" routerLinkActive="active" (click)="onLinkClick()" class="nav-link waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="heart"></mdb-icon>Favourites
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/tourists/touristshome/messages']" (click)="onLinkClick()" routerLinkActive="active">
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon  fas  icon="envelope"></mdb-icon>Message
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/tourists/touristshome/bookings']" routerLinkActive="active" (click)="onLinkClick()" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Bookings</a>
            </li>
            <li class="nav-item" (click)="getOngoingEvents()">
                <a  (click)="onLinkClick()" class="nav-link waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="clipboard-check"></mdb-icon>Events
                </a>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>

                    <!-- More<span class="caret"></span> -->
                    <mdb-icon fas icon="user"></mdb-icon>
                    <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;"> -->
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/tourists/touristshome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/tourists/touristshome/changePassword']" routerLinkActive="active">Change Password</a>
                    <a class="dropdown-item waves-light text-white" (click)="onLinkClick()" mdbWavesEffect (click)="logout('tourist')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')"
            class="navbar-nav ml-auto d-block d-lg-none">
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/messages']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon  fas  icon="envelope"></mdb-icon>Message
                </a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/bookings']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Bookings</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/requests']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Requests</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/activities']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Activites</a>
            </li>
            <li class="nav-item">
                <a (click)="onLinkClick()" class="nav-link waves-light" [routerLink]="['/guide/guidehome/deals']" routerLinkActive="active" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>Deals</a>
            </li>
            <li class="nav-item" (click)="getOngoingEvents()">
                <a  (click)="onLinkClick()" class="nav-link waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="clipboard-check"></mdb-icon>Events
                </a>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- More<span class="caret"></span> -->
                    <img [src]="user?.picUrl ? user?.picUrl : 'https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/grayman.png'" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/changepassword']" routerLinkActive="active">Change Password</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light text-white" mdbWavesEffect (click)="logout('guide')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'guide')"
            class="navbar-nav ml-auto d-none d-lg-inline-flex">
            <li class="nav-item" (click)="getOngoingEvents()">
                <a  (click)="onLinkClick()" class="nav-link waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="clipboard-check"></mdb-icon>Events
                </a>
            </li>
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/aboutUs']" routerLinkActive="active">About</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
            <li class="nav-item avatar dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <img [src]="user?.picUrl ? user?.picUrl : 'https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/grayman.png'" alt="" class="img-fluid rounded-circle z-depth-0" style="height:32px; width:32px;">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome']" routerLinkActive="active">Dashboard</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/editProfile']" routerLinkActive="active">Edit Profile</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/guide/guidehome/changepassword']" routerLinkActive="active">Change Password</a>
                    <a (click)="onLinkClick()" class="dropdown-item waves-light text-white" mdbWavesEffect (click)="logout('guide')" routerLinkActive="active">Logout</a>
                </div>
            </li>
        </ul>
        <ul *ngIf="jwtService.getToken() && (userService.getRole() === 'admin')" class="navbar-nav ml-auto">
            <li class="nav-item">
              <a (click)="logout('admin')" class="nav-link waves-light" routerLinkActive="active" mdbWavesEffect>
                  <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                  Logout</a>
          </li>
          <li>
            <a [routerLink]="['/admin/emergency']" routerLinkActive="router-link-active"  class="nav-link waves-light" routerLinkActive="active" mdbWavesEffect>
                <!-- <mdb-icon fas icon="cog"></mdb-icon>  -->
                SOS Alerts
                </a>
          </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown >
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <mdb-icon fas icon="user"></mdb-icon>  -->
                    <mdb-icon fas icon="question-circle"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/aboutUs']"  routerLinkActive="active">About</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/contact']" routerLinkActive="active">Contact us</a>
                    <a class="dropdown-item waves-light" (click)="onLinkClick()" mdbWavesEffect [routerLink]="['/help']" routerLinkActive="active">Help!</a>
                </div>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->




<div mdbModal #basicModal="mdbModal" [config]="{show: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-side modal-bottom-right " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h6 class="modal-title w-100" id="myModalLabel">Your On Going Events</h6>
      </div>
      <div *ngIf="onGoingEvents" class="modal-body">
        <h5 *ngIf="userService.getRole() === 'tourist'">{{onGoingEvents[0]?.guideId?.city}}, {{onGoingEvents[0]?.guideId?.state}}</h5>
        <h5 *ngIf="userService.getRole() === 'guide'">{{user?.city}}, {{user?.state}}</h5>
        <!-- <p>With {{onGoingEvents[0]?.guideId?.gender}} {{onGoingEvents[0]?.guideId?.name | titlecase}}</p> -->
        <div class="row">
          <div class="col">

            <b>From - {{onGoingEvents[0]?.startDate | date: 'yyyy/dd/MM'}}</b><br>
            <b>To - {{onGoingEvents[0]?.endDate  | date: 'yyyy/dd/MM'}}</b>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="mb-0 mt-3">Tour type - {{onGoingEvents[0]?.tourType | titlecase}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!onGoingEvents"  class="modal-body">
        <h6>No onGoing Events!</h6>
      </div>
      <div class="modal-footer" *ngIf="onGoingEvents">
        <!-- [routerLink]="['/tourists/touristshome/bookings/now']" -->
        <button type="button" *ngIf="userService.getRole() === 'tourist'"
         mdbBtn size="sm"
         class="waves-light bgrey" aria-label="Close" (click)="openModal(content)" mdbWavesEffect>
         View
        </button>
        <!-- [routerLink]="['/guide/guidehome/bookings']" -->
        <button type="button" *ngIf="userService.getRole() === 'guide'"
          mdbBtn size="sm"
         class="waves-light bgrey" aria-label="Close" (click)="openModal(content)" mdbWavesEffect>
         View
        </button>

        <button type="button" (click)="open(rating)" *ngIf="userService.getRole() === 'tourist'"
           routerLinkActive="router-link-active"
          mdbBtn size="sm" class="relative dpurple waves-light" [disabled]="getEndDate(onGoingEvents[0])" mdbWavesEffect>
          Completed
        </button>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Tour Details</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
      <div class="row">
        <div class="col-12">
         <h6>{{onGoingEvents[0]?.tourType | titlecase}} Tour
            <span class="float-right">{{onGoingEvents[0]?.bookingDate | date: 'dd-MM-yyyy'}}</span>
          </h6>
        </div>
      </div>
      <hr class="mt-0">
      <div *ngIf="userService.getRole() === 'tourist'" class="row">
        <div class="col-6">
          <B>Guide Name</B>
        </div>
        <div class="col-6">
            {{onGoingEvents[0]?.guideId?.gender}}  {{onGoingEvents[0]?.guideId?.name | titlecase}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <B>Price</B>
        </div>
        <div class="col-6">
          Rs. {{onGoingEvents[0]?.price}}/-
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <B>Start Date</B>
        </div>
        <div class="col-6">
          {{onGoingEvents[0]?.startDate | date: 'dd-MM-yyyy'}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <B>Duration</B>
        </div>
        <div class="col-6">
          {{onGoingEvents[0]?.duration}} days
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <B>People</B>
        </div>
        <div class="col-6">
          {{onGoingEvents[0]?.noOfPeople}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <B>Group Type</B>
        </div>
        <div class="col-6">
          {{onGoingEvents[0]?.groupType | titlecase}}
        </div>
      </div>
      <table *ngIf="onGoingEvents?.tourType === 'deal'" class="table">
        <thead>
          <tr>
            <th><b>Sr no.</b></th>
            <th><b>Tour Places</b></th>
            <th><b>Visit Date</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of onGoingEvents?.places; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.place | titlecase}}</td>
            <td>{{item.date | date: 'dd-MM-yyyy'}}</td>
          </tr>
        </tbody>
      </table>
      <table *ngIf="userService.getRole() === 'guide'" class="table">
        <thead>
          <tr>
            <th><b>Sr no.</b></th>
            <th><b>Tourist Name</b></th>
            <th><b>Nationality</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of onGoingEvents[0]?.touristId; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.name | titlecase}}</td>
            <td>{{item.nationality}}</td>
          </tr>
        </tbody>
      </table> 
  </div>
  <div class="modal-footer row mx-0 ">
       <div class="col">
         <button type="button" mdbBtn size="sm" class="waves-light btn-block bgrey" (click)="d('Cross click')" mdbWavesEffect>Close</button>
      </div>
      <div class="col">
        <button type="button" mdbBtn size="sm" (click)="sosAlert()"
        class="waves-light btn-block btn-danger" mdbWavesEffect>SOS</button>
     </div>
      <div class="col">
        <button type="button" mdbBtn size="sm" class="btn-block waves-light dpurple"
          *ngIf="userService.getRole() === 'tourist'"  (click)="open(rating)"  
          [disabled]="getEndDate(onGoingEvents[0])"
          mdbWavesEffect>
          Completed!&nbsp;<mdb-icon fas icon="headset"></mdb-icon></button>
      </div>
    </div>
</ng-template>


<ng-template #rating let-c1="close" let-d1="dismiss">
  <app-rating-modal [bookingId]="this.onGoingEvents[0]?._id" (close)="d1('Cross click')"></app-rating-modal>
</ng-template>
