.navbar .nav-item .nav-link {
    color: #def2f1;
}

.navbar .nav-item .nav-link:hover {
    color:  #feffff;
}

.custom-toggler.navbar-toggler {
    border-color: #def2f1;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #3aafa9
}

