<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://voilabucket2020.s3.ap-south-1.amazonaws.com/carousel/Assam.jpg" alt="" height="600vh">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <!-- testing text -->
      <h3 class="h3-responsive small-screen">Voila</h3>
      <div class="content large-screen">
        <div class="content__container">
          <p class="content__container__text">
            Voila
          </p>

          <ul class="content__container__list">
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;Travel !</li>
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;Guide !</li>
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Location !</li>
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fun !</li>
          </ul>
        </div>
      </div>
      <!-- //// -->
      <p class="textStyle">Platform to join enthusiastic tourists and experienced guides!</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://voilabucket2020.s3.ap-south-1.amazonaws.com/carousel/Goa.jpg" alt="" height="600vh">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive small-screen">Voila</h3>
      <div class="content large-screen">
        <div class="content__container">
          <p class="content__container__text">
            Voila
          </p>

          <ul class="content__container__list">
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;Travel !</li>
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;Guide !</li>
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Location !</li>
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fun !</li>
          </ul>
        </div>
      </div>
      <p class="textStyle">All You have to do is Signup and you are good to go!</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://voilabucket2020.s3.ap-south-1.amazonaws.com/carousel/Kashmir.jpg" alt="" height="600vh">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive small-screen">Voila</h3>
      <div class="content large-screen">
        <div class="content__container">
          <p class="content__container__text">
            Voila
          </p>

          <ul class="content__container__list">
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;Travel !</li>
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;Guide !</li>
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Location !</li>
            <li class="content__container__list__item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fun !</li>
          </ul>
        </div>
      </div>
      <p class="textStyle">Enjoy your travel and explore new places with our guides!</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>