<mdb-card style="background-image: url('https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/gradient1.jpg'); background-repeat: no-repeat; background-size: cover;">
  <div class="text-white text-center py-5 px-4">
    <div>
      <img class="img-fluid card-title pt-3 mb-5 font-bold" src="../../../../assets/images/areoplane white.png" alt="">
      <h2 class="card-title h1-responsive pt-3 mb-4 font-bold"><strong>A local guide hiring platform </strong></h2>
      <p class=" mb-5">Nobody knows a location better than its local residents.
        Voila is an app which harnesses the same fact and connects a traveller to his/her compatible guide who shares interests like food, history, architecture, etc. so that the travelling experience can become even better while giving a significant boost to freelancing opportunities in the tourism industry.
      </p>
    </div>
  </div>
</mdb-card>

<div class="text-center py-5 px-4">
  <div>
    <h2 class="card-title h1-responsive pt-3 mb-4 font-bold"><strong>Meet Our Developers</strong></h2>
    <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>The Decoits 3.0</strong></h2>
    <p>We are a bunch of nerds from Earth C-137 who are mad about the product we develop. Focused on finding a solution that actually works and can be applied to the industry right off the bat. Rigorous Brainstorming before taking any decision forward, making an app with a detailed thought behind every user experience are some of our general practices.
    </p>
</div>
</div>

<div class="row">
  <div class="col-12 col-md-6 col-lg-4 my-3 px-0 mb-5" *ngFor="let dev of developers">
    <div class="row ml-2">
      <div class="col-4 col-sm-5 px-2 text-center">
        <img class="img-fluid pp" [src]="dev.picUrl" style="border-radius: 50%;">
      </div>
      <div class="col-8 col-sm-7 px-1">
        <h2><p>{{dev.name}}</p></h2>
        <div><p><i class="far fa-envelope"></i>&nbsp;&nbsp;{{dev.email}}</p></div>
        <div><p><i class="fab fa-instagram"></i>&nbsp;&nbsp;{{dev.instagram}}</p></div>
        <div><p><i class="fab fa-github"></i>&nbsp;&nbsp;{{dev.github}}</p></div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>