<!-- <table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Guide</th>
        <th scope="col">Price</th>
        <th scope="col">People</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>

<div class="row">
    <div class="col-md-12">

        <section class="my-5">


            <div class="row">

                <div class="col-lg-4">

                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                        <img class="img-fluid d-none d-sm-block" src="https://www.makemytrip.com/travel-guide/media/dg_image/kovalam/thumb/Light%20House_19_85_kovalam_938_410.jpg" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                </div>

                <div class="col-lg-8">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#!" style="color: #aeea00;">
                                    <h6 class="font-weight-bold mb-3 ">
                                        <mdb-icon fas icon="umbrella-beach"></mdb-icon> Coastal Serenity</h6>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <span><mdb-badge class=" amy-crisp-gradient" default="true">PERSONALISED TOUR</mdb-badge></span>

                            </div>
                        </div>
                    </div>
                    <h3 class="font-weight-bold mb-3"><strong>Kovalam, Kerala</strong></h3>
                    <div class="container history">
                        <div class="row fromto">
                            <div class="col-md-2">
                                FROM
                            </div>
                            <div class="col-md-2">
                                TO
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                        <div class="row dates">
                            <div class="col-md-2">
                                11 Aug'19
                            </div>
                            <div class="col-md-2">
                                14 Aug'19
                            </div>
                            <div class="col-md-2">
                                <p><i class="fas fa-user-friends"></i> Anika + 4</p>
                            </div>
                        </div>


                    </div>
                    <p>With Local
                        <a>
                            <mdb-icon fas icon="user-check"></mdb-icon><strong> Harsh Sharma</strong></a>
                    </p>
                    <div>Rate this trip
                        <mdb-icon far icon="star"></mdb-icon>
                        <mdb-icon far icon="star"></mdb-icon>
                        <mdb-icon far icon="star"></mdb-icon>
                        <mdb-icon far icon="star"></mdb-icon>
                        <mdb-icon far icon="star"></mdb-icon>
                    </div>
                    <button mdbBtn type="button" style="color:white; background-color: #aeea00 !important;" mdbWavesEffect>VIEW MORE</button>

                </div>

            </div>

            <hr class="my-5">

            <div class="row">

                <div class="col-lg-4">
                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                        <img class="img-fluid" src="https://www.makemytrip.com/travel-guide/media/dg_image/kovalam/thumb/Light%20House_19_85_kovalam_938_410.jpg" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                </div>

                <div class="col-lg-8">


                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#!" style="color: #aeea00;">
                                    <h6 class="font-weight-bold mb-3 ">
                                        <mdb-icon fas icon="umbrella-beach"></mdb-icon> Coastal Serenity</h6>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <span><mdb-badge class=" amy-crisp-gradient" default="true">PERSONALISED TOUR</mdb-badge></span>

                            </div>
                        </div>
                    </div>
                    <h3 class="font-weight-bold mb-3"><strong>Kovalam, Kerala</strong></h3>
                    <div class="container ">
                        <div class="row fromto">
                            <div class="col-md-3">
                                FROM
                            </div>
                            <div class="col-md-3">
                                TO
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>11 Aug'19</h6>
                            </div>
                            <div class="col-md-3">
                                <h6>14 Aug'19</h6>
                            </div>
                            <div class="col-md-3">
                                <i class="fas fa-user-friends"></i> Anika + 4
                            </div>
                        </div>


                    </div>
                    <p>With Local <a><strong> Harsh Sharma</strong></a></p>
                    <button mdbBtn type="button" style="color:white; background-color: #aeea00 !important;" mdbWavesEffect>VIEW MORE</button>

                </div>

            </div>

            <hr class="my-5">

            <div class="row">

                <div class="col-lg-4">

                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                </div>

                <div class="col-lg-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#!" style="color: #aeea00;">
                                    <h6 class="font-weight-bold mb-3 ">
                                        <mdb-icon fas icon="umbrella-beach"></mdb-icon> Coastal Serenity</h6>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <span><mdb-badge class=" amy-crisp-gradient" default="true">PERSONALISED TOUR</mdb-badge></span>

                            </div>
                        </div>
                    </div>
                    <h3 class="font-weight-bold mb-3"><strong>Kovalam, Kerala</strong></h3>
                    <div class="container ">
                        <div class="row fromto">
                            <div class="col-md-3">
                                FROM
                            </div>
                            <div class="col-md-3">
                                TO
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>11 Aug'19</h6>
                            </div>
                            <div class="col-md-3">
                                <h6>14 Aug'19</h6>
                            </div>
                            <div class="col-md-3">
                                <i class="fas fa-user-friends"></i> Anika + 4
                            </div>
                        </div>


                    </div>
                    <p>
                        With Local <a><strong> Harsh Sharma</strong></a>
                    </p>
                    <button mdbBtn type="button" style="color:white; background-color: #aeea00 !important;" mdbWavesEffect>VIEW MORE</button>

                </div>

            </div>

        </section>
    </div>
</div> -->

   <mdb-card class="mb-3" *ngFor="let booking of previousList">
      <mdb-card>
          <mdb-card-body>
              <div class="row">
                  <div class="col-md-9">
                   <mdb-card-title>
                <h4><mdb-icon fas icon="clipboard-check" style="color: rgba(255, 152, 0, 0.7);" ></mdb-icon> &nbsp; {{booking.guideId?.city}}, India with {{booking.guideId?.name}}</h4>
              </mdb-card-title> </div>
              <div class="col-md-3" style="padding: 0;">
                <button mdbBtn type="button" size="sm" color="amber" mdbWavesEffect>Rate the guide</button>
              </div>

        </div>
              <!--Text-->
              <mdb-card-text>
                  Approved booking by the guide under Voils <a href="">terms and condition</a> contact your
                  guide for any booking related quary .

                  <p>{{booking.places.toString()}}</p>
                  <p class="mb-0"><a style="color: rgba(255, 152, 0, 0.7);" (click)="test1.toggle()">View more</a></p>

              </mdb-card-text>


  </mdb-card-body>
      </mdb-card>
  <div  mdbCollapse [isCollapsed]="true" #test1="bs-collapse">
      <mdb-card class="more">
    <mdb-card-body >
        <!--Text-->
        <mdb-card-text>
            <div class="row">
                <div class="col-md-4">
                   <h5>From</h5> {{booking.startDate | date: 'dd-MM-yy'}}
                </div>
                <div class="col-md-4">
                  <h5>To</h5> {{booking.endDate | date: 'dd-MM-yy'}}
              </div>
              <div class="col-md-4">
                   <h5>Tour Type</h5> {{booking.tourType}}
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                 <h5>Guide</h5> {{booking.guideId?.name}}
              </div>
              <div class="col-md-4">
                <h5>Price</h5>  INR {{booking.price}}/person
            </div>
            <div class="col-md-4">
                 <h5>People</h5> <i class="fas fa-user-friends"></i> {{booking.noOfPeople}}
            </div>

          </div>

        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
    </mdb-card>

    <!--  -->
