<!-- <table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Guide</th>
        <th scope="col">Price</th>
        <th scope="col">People</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>

<div class="row">
    <div class="col-md-12">

        <section class="my-5">


            <div class="row">

                <div class="col-lg-4">

                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                        <img class="img-fluid d-none d-sm-block" src="https://www.makemytrip.com/travel-guide/media/dg_image/kovalam/thumb/Light%20House_19_85_kovalam_938_410.jpg" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                </div>

                <div class="col-lg-8">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#!" style="color: #aeea00;">
                                    <h6 class="font-weight-bold mb-3 ">
                                        <mdb-icon fas icon="umbrella-beach"></mdb-icon> Coastal Serenity</h6>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <span><mdb-badge class=" amy-crisp-gradient" default="true">PERSONALISED TOUR</mdb-badge></span>

                            </div>
                        </div>
                    </div>
                    <h3 class="font-weight-bold mb-3"><strong>Kovalam, Kerala</strong></h3>
                    <div class="container history">
                        <div class="row fromto">
                            <div class="col-md-2">
                                FROM
                            </div>
                            <div class="col-md-2">
                                TO
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                        <div class="row dates">
                            <div class="col-md-2">
                                11 Aug'19
                            </div>
                            <div class="col-md-2">
                                14 Aug'19
                            </div>
                            <div class="col-md-2">
                                <p><i class="fas fa-user-friends"></i> Anika + 4</p>
                            </div>
                        </div>


                    </div>
                    <p>With Local
                        <a>
                            <mdb-icon fas icon="user-check"></mdb-icon><strong> Harsh Sharma</strong></a>
                    </p>
                    <div>Rate this trip
                        <mdb-icon far icon="star"></mdb-icon>
                        <mdb-icon far icon="star"></mdb-icon>
                        <mdb-icon far icon="star"></mdb-icon>
                        <mdb-icon far icon="star"></mdb-icon>
                        <mdb-icon far icon="star"></mdb-icon>
                    </div>
                    <button mdbBtn type="button" style="color:white; background-color: #aeea00 !important;" mdbWavesEffect>VIEW MORE</button>

                </div>

            </div>

            <hr class="my-5">

            <div class="row">

                <div class="col-lg-4">
                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                        <img class="img-fluid" src="https://www.makemytrip.com/travel-guide/media/dg_image/kovalam/thumb/Light%20House_19_85_kovalam_938_410.jpg" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                </div>

                <div class="col-lg-8">


                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#!" style="color: #aeea00;">
                                    <h6 class="font-weight-bold mb-3 ">
                                        <mdb-icon fas icon="umbrella-beach"></mdb-icon> Coastal Serenity</h6>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <span><mdb-badge class=" amy-crisp-gradient" default="true">PERSONALISED TOUR</mdb-badge></span>

                            </div>
                        </div>
                    </div>
                    <h3 class="font-weight-bold mb-3"><strong>Kovalam, Kerala</strong></h3>
                    <div class="container ">
                        <div class="row fromto">
                            <div class="col-md-3">
                                FROM
                            </div>
                            <div class="col-md-3">
                                TO
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>11 Aug'19</h6>
                            </div>
                            <div class="col-md-3">
                                <h6>14 Aug'19</h6>
                            </div>
                            <div class="col-md-3">
                                <i class="fas fa-user-friends"></i> Anika + 4
                            </div>
                        </div>


                    </div>
                    <p>With Local <a><strong> Harsh Sharma</strong></a></p>
                    <button mdbBtn type="button" style="color:white; background-color: #aeea00 !important;" mdbWavesEffect>VIEW MORE</button>

                </div>

            </div>

            <hr class="my-5">

            <div class="row">

                <div class="col-lg-4">

                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                </div>

                <div class="col-lg-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#!" style="color: #aeea00;">
                                    <h6 class="font-weight-bold mb-3 ">
                                        <mdb-icon fas icon="umbrella-beach"></mdb-icon> Coastal Serenity</h6>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <span><mdb-badge class=" amy-crisp-gradient" default="true">PERSONALISED TOUR</mdb-badge></span>

                            </div>
                        </div>
                    </div>
                    <h3 class="font-weight-bold mb-3"><strong>Kovalam, Kerala</strong></h3>
                    <div class="container ">
                        <div class="row fromto">
                            <div class="col-md-3">
                                FROM
                            </div>
                            <div class="col-md-3">
                                TO
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>11 Aug'19</h6>
                            </div>
                            <div class="col-md-3">
                                <h6>14 Aug'19</h6>
                            </div>
                            <div class="col-md-3">
                                <i class="fas fa-user-friends"></i> Anika + 4
                            </div>
                        </div>


                    </div>
                    <p>
                        With Local <a><strong> Harsh Sharma</strong></a>
                    </p>
                    <button mdbBtn type="button" style="color:white; background-color: #aeea00 !important;" mdbWavesEffect>VIEW MORE</button>

                </div>

            </div>

        </section>
    </div>
</div> -->

   <!-- <mdb-card class="mb-3" *ngFor="let booking of previousList">
      <mdb-card>
          <mdb-card-body>
              <div class="row">
                  <div class="col-md-9">
                   <mdb-card-title>
                <h4><mdb-icon fas icon="clipboard-check" style="color: rgba(255, 152, 0, 0.7);" ></mdb-icon> &nbsp; {{booking.guideId?.city}}, India with {{booking.guideId?.name}}</h4>
              </mdb-card-title> </div>
              <div class="col-md-3" style="padding: 0;">
                <button mdbBtn type="button" size="sm" color="amber" mdbWavesEffect>Rate the guide</button>
              </div>

        </div>
              <mdb-card-text>
                  Approved booking by the guide under Voils <a href="">terms and condition</a> contact your
                  guide for any booking related quary .

                  <p>{{booking.places.toString()}}</p>
                  <p class="mb-0"><a style="color: rgba(255, 152, 0, 0.7);" (click)="test1.toggle()">View more</a></p>

              </mdb-card-text>


  </mdb-card-body>
      </mdb-card>
  <div  mdbCollapse [isCollapsed]="true" #test1="bs-collapse">
      <mdb-card class="more">
    <mdb-card-body >
        <mdb-card-text>
            <div class="row">
                <div class="col-md-4">
                   <h5>From</h5> {{booking.startDate | date: 'dd-MM-yy'}}
                </div>
                <div class="col-md-4">
                  <h5>To</h5> {{booking.endDate | date: 'dd-MM-yy'}}
              </div>
              <div class="col-md-4">
                   <h5>Tour Type</h5> {{booking.tourType}}
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                 <h5>Guide</h5> {{booking.guideId?.name}}
              </div>
              <div class="col-md-4">
                <h5>Price</h5>  INR {{booking.price}}/person
            </div>
            <div class="col-md-4">
                 <h5>People</h5> <i class="fas fa-user-friends"></i> {{booking.noOfPeople}}
            </div>

          </div>

        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
    </mdb-card> -->

    <!--  -->
    <!-- <p>
    The pending Booking requests sent to the Tourist Guides show up here.
</p>

<table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Guide</th>
        <th scope="col">Price</th>
        <th scope="col">People</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>

<div class="request-card">
    <mdb-card>
        <div class="container1">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>Jaipur, Rajasthan</h4>
                </mdb-card-title>

                <div class="grey-text">
                    <div>Guide: <a href="#!">Arjun Gupta</a></div>
                    <div>Price: Rs.500/hour</div>
                    <div>Booking Date: March 25,2020</div>
                </div>
            </mdb-card-body>
            <img src="https://cdn6.dissolve.com/p/D18_44_025/D18_44_025_0004_600.jpg" class="float-right" alt="...">
        </div>
        <mdb-card-footer class="text-muted" style="height: 55px;">
            <a href="#!">View more</a>
            <button class="float-right footer-btn" style="margin: auto;" color="danger" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>CANCEL REQUEST</b></button>
        </mdb-card-footer>
    </mdb-card>
</div> -->

<!-- <mdb-card class="mb-3" *ngFor="let booking of previousList">
    <mdb-card>
        <mdb-card-body>
            <div class="row">
                <div class="col-md-9">
                    <mdb-card-title>
                        <h4>
                            <mdb-icon fas icon="lock" style="color: rgba(0, 188, 212, 0.7)"></mdb-icon> &nbsp; {{booking.guideId?.city}}, India with {{booking.guideId?.name}}</h4>
                    </mdb-card-title>
                </div>
                <div class="col-md-3" style="padding: 0;">
                    <button mdbBtn (click)="cancelRequest(booking)" type="button" size="sm" color="cyan" mdbWavesEffect>Cancel Request</button>
                </div>

            </div>

            <mdb-card-text>
                Approved booking by the guide under Voils <a href="">terms and condition</a> contact your guide for any booking related quary .

                <p>{{booking.places.toString()}}</p>
                <p class="mb-0"><a style="color: rgba(0, 188, 212, 0.7)" (click)="test1.toggle()">View more</a></p>

            </mdb-card-text>





        </mdb-card-body>
    </mdb-card>
    <div mdbCollapse [isCollapsed]="true" #test1="bs-collapse">
        <mdb-card>
            <mdb-card-body>
                <mdb-card-text>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>From</h5> {{booking.startDate | date: 'dd-MM-yy'}}
                        </div>
                        <div class="col-md-4">
                            <h5>To</h5> {{booking.endDate | date: 'dd-MM-yy'}}
                        </div>
                        <div class="col-md-4">
                            <h5>Tour Type</h5> {{booking.tourType}}
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Guide</h5> {{booking.guideId?.name}}
                        </div>
                        <div class="col-md-4">
                            <h5>Price</h5> INR {{booking.price}}/person
                        </div>
                        <div class="col-md-4">
                            <h5>People</h5> <i class="fas fa-user-friends"></i> {{booking.noOfPeople}}
                        </div>

                    </div>

                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
</mdb-card> -->
<!-- <mdb-card class="my-3">
  <mdb-card>
      <mdb-card-body class="m-0 p-0">
          <div class="row">
              <div class="col-md-9">
                  <mdb-card-title>
                      <h4 class="m-3">
                          <mdb-icon fas icon="suitcase" style="color: rgba(0, 188, 212, 0.7);"></mdb-icon> &nbsp; City, India with Name</h4>
                  </mdb-card-title>
              </div>


          </div>

          <mdb-card-text class="p-2">
            <div class="row">
              <div class="col-6 col-md-3">
                  <h5>Booking Date</h5> 12-3-23
              </div>
              <div class="col-6 col-md-3">
                  <h5>Duration</h5>4
              </div>
              <div class="col-6 col-md-3">
                  <h5>Price</h5> INR 641
              </div>
              <div class="col-6 col-md-3">
                <h5>Group</h5> Family
            </div>
          </div>

          </mdb-card-text>
<div class="row card-footer text-muted text-center">
              <button mdbBtn class="col-5 col-md-3 p-2" type="button" size="sm" color="info"  (click)="test1.toggle()" mdbWavesEffect>View More</button>
              <button mdbBtn class="col-5 col-md-3  p-2" type="button" size="sm" color="info"  mdbWavesEffect>Cancle</button>
</div>

      </mdb-card-body>
  </mdb-card>
  <div mdbCollapse [isCollapsed]="true" #test1="bs-collapse">
      <mdb-card>
          <mdb-card-body>
              <mdb-card-text>
                  <div class="row">
                      <div class="col-6 col-md-4 mb-2">
                          <h5>Booking date</h5> 12-3-23
                      </div>
                      <div class="col-6 col-md-4 mb-2">
                          <h5>Start-Date</h5>12-4-23
                      </div>
                      <div class="col-6 col-md-4 mb-2">
                          <h5>Group Type</h5>Family
                      </div>


                      <div class="col-6 col-md-4 mb-2">
                          <h5>Guide</h5> Ekta
                      </div>
                      <div class="col-6 col-md-4 mb-2">
                          <h5>Price</h5> INR 223
                      </div>
                      <div class="col-6 col-md-4 mb-2">
                          <h5>People</h5> <i class="fas fa-user-friends"></i> 3
                      </div>
                      <div class="col-6 col-md-4 mb-2">
                        <h5>Duration</h5>5 Days
                    </div>

                  </div>

              </mdb-card-text>
          </mdb-card-body>
      </mdb-card>
  </div>
</mdb-card> -->
<!-- <ng-template #content let-c="close" let-d="dismiss">
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Cancle Booking</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Submit</button>
</div>
</ng-template> -->



<div class="container-fluid">
    <div class="d-none d-md-block" *ngIf="previousList">
    <div class="row mt-3">
      <div class="col-12 text-center">
        <div class="card first" style="z-index: 100; width: 90%; margin-left: 5%;">
          <h5 class="text-center py-2 my-0">Previous bookings</h5>
        </div>
      </div>
    </div>
    <div class="card mb-5" style="margin-top: -25px;">
      <div class="card-body">
        <div class="mt-3 mb-3">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead >
                <tr>
                  <th scope="col">Sr no.</th>
                  <th scope="col">City</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of previousList; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{data.guideId?.city | titlecase}}</td>
                  <td>{{data.startDate | date: 'dd-MM-yyyy'}}</td>
                  <td>{{data.duration}} days</td>
                  <td>
                    <button class="btn" color="info" style="margin: auto;" (click)="open(content, data)" mdbBtn type="button" size="sm" mdbWavesEffect>
                      <b>VIEW</b>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!previousList">
    <div class="row cust-grid">
      <div class="col-12 text-center">
        <img class="img-fluid my-5 h-50 w-25" src="../../../../../assets/images/flamenco-list-is-empty-1.png">
             <h1 style="font-family: 'Dancing Script', cursive;">No Previous Booking !!</h1>
           </div>
    </div>
  </div>


  <div class="d-block d-md-none mt-4">
    <mdb-card class="bag mb-4" *ngFor="let data of previousList">
      <mdb-card-body>
        <mdb-card-title>
          <h4>{{data.tourType | titlecase}} Tour</h4>
        </mdb-card-title>
        <mdb-card-text >
          <div class="row">
            <div class="col-4">
            <div><b>Start-Date</b></div>
            <div>{{data.startDate | date: 'dd-MM-yyyy'}}</div>
          </div>
          <div class="col-4">
            <div><b>Duration</b></div>
            <div>{{data.duration}} days</div>
          </div>
          <div class="col-4">
            <div><b>People</b></div>
            <div>{{data.noOfPeople}}</div>
          </div>
          </div>
        </mdb-card-text>
        <a size="sm" class="float-right" (click)="open(content, data)" mdbBtn style="background: #0ec8b9;" mdbWavesEffect>VIEW</a>
        <!-- <a size="sm" class="float-right"  mdbBtn style="background: #0ec8b9;" mdbWavesEffect>START</a> -->
      </mdb-card-body>
    </mdb-card>
  </div>

  </div>


  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Tour Details</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-4 pb-0 ">
        <div class="row">
          <div class="col-12">
           <h6>{{selectedPrevious.tourType | titlecase}} Tour
              <span class="float-right">{{selectedPrevious.bookingDate | date: 'dd-MM-yyyy'}}</span>
            </h6>
          </div>
        </div>
        <hr class="mt-0">
        <div class="row">
            <div class="col-6">
              <B>State</B>
            </div>
            <div class="col-6">
              {{selectedPrevious.guideId?.state | titlecase}}
            </div>
          </div>
        <div class="row">
          <div class="col-6">
            <B>Price</B>
          </div>
          <div class="col-6">
            Rs. {{selectedPrevious.price}}/-
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <B>Start Date</B>
          </div>
          <div class="col-6">
            {{selectedPrevious.startDate | date: 'dd-MM-yyyy'}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <B>Duration</B>
          </div>
          <div class="col-6">
            {{selectedPrevious.duration}} days
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <B>People</B>
          </div>
          <div class="col-6">
            {{selectedPrevious.noOfPeople}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <B>Group Type</B>
          </div>
          <div class="col-6">
            {{selectedPrevious.groupType | titlecase}}
          </div>
        </div>
        <table *ngIf="selectedPrevious.tourType === 'deal'" class="table">
          <thead>
            <tr>
              <th><b>Sr no.</b></th>
              <th><b>Tour Places</b></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of selectedPrevious?.places; let i = index">
              <td>{{i+1}}</td>
              <td>{{item | titlecase}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="modal-footer row mx-0 ">
        <div class="col">
            <button type="button" mdbBtn color="secondary" size="sm" class="waves-light btn-block" (click)="d('Cross click')" mdbWavesEffect>Close&nbsp;<mdb-icon fas icon="ban"></mdb-icon></button>
         </div>
         <div class="col">
            <button mdbBtn class="btn-block waves-light" type="button" size="sm" color="pink" mdbWavesEffect>Rate Now</button>
        </div>
    </div>
  </ng-template>

