// .fromto div {
//     color: rgb(7, 189, 189);
//     font-size: 18px;
// }

// .dates div {
//     font-size: 17px;
//     font-weight: 500;
// }
.more{
    background-color: rgba(255, 153, 0, 0.322);
    color: white;
}
 body {
    background-color: rgba(255, 153, 0, 0.322);

}