<div class="container mt-4">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h1>Tour Progress</h1>
            <div class="my-4">   
                <ul class="timeline">
                    <li *ngFor="let item of data?.places">
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="flag"
                                [ngClass]="getCheck(item) ? 'color' : ''"
                                >{{item.place | titlecase}}</span>
                                <!-- <span class="time-wrapper"><span class="time">{{item.date | date : 'yyyy-mm-dd'}}</span></span> -->
                            </div>
                            <div class="desc">{{item.date | date : 'yyyy-mm-dd'}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 pr-2">
            <mdb-card class="sticky">
                <div class="my-4 mx-4">
                    <div class="row">
                        <div class="col-md-4 view overlay waves-light " mdbWavesEffect>
                            <img [src]="data?.guideId?.picUrl ? data?.guideId?.picUrl : 'https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/grayman.png'" class="img-fluid z-depth-0" style="height:80px; width:80px;">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="col-md-8">
                            <h4>{{data?.guideId?.city}}, {{data?.guideId?.state}}</h4>
                            <!-- <div>{{}}</div> -->
                        </div>
                    </div>
                </div>
                <hr class="mx-4 my-1">
                <div class="mx-4 my-2">
                    <div>{{data?.groupType}}</div>
                    <div>Hosted by <a [routerLink]="['/tourists/touristshome/guideProfile', data?.guideId?._id]">{{data?.guideId?.name | titlecase}}</a></div>
                </div>
                <hr class="mx-4 my-1">
                <div class="mx-4 my-2">
                    <div>
                       Start Date
                    </div>
                    <div>
                        {{data?.places[0].date | date: 'yyyy-mm-dd'}}
                    </div>
                </div>
                <hr class="mx-4 my-1">
                <div class="mx-4 my-2">
                    <div>
                        &#x20b9;{{data?.price}} x {{data?.noOfPeople}} guests
                        <!-- <div class="float-right">&#x20b9;4800</div> -->
                    </div>
                    <!-- <div>
                        Total(INR)
                        <div class="float-right">&#x20b9;4800</div>
                    </div> -->
                </div>
                <!-- <hr class="mx-4 my-1">
                <div class="mx-4 my-2"><a  (click)="open(rating)" >Completed!</a></div> -->
                <mdb-card-body>
                </mdb-card-body>
            </mdb-card>
           <div class="mt-4 text-center">
            <button type="button" (click)="back()" class="btn btn-sm text-white dpurple">Back</button>
            <button type="button" (click)="open(rating)" [disabled]="getEndDate()"
             class="btn btn-sm text-white dpurple">Completed</button>
           </div>
        </div>
    </div>
</div>

<ng-template #rating let-c1="close" let-d1="dismiss">
    <app-rating-modal [bookingId]="data?._id" (close)="d1('Cross click')"></app-rating-modal>
  </ng-template>