.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.bgclass {
    background-image: linear-gradient(to right, #22c1c3, #fdbb2d);
}

.guide-contain {
    margin-left: 110px !important;
}