<div class="container-fluid ">
    <div class="row">
        <div class="col-md-5 col-lg-4">
            <mdb-card class="sticky mt-4">
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-4 col-sm-3 col-md-3 view overlay waves-light " mdbWavesEffect>
                            <img [src]="guide?.picUrl ? guide?.picUrl : 'https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/grayman.png'" 
                            class="img-fluid rounded-circle z-depth-0" style="height:80px; width:80px;">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="col-8 col-sm-9 col-md-9">
                            <h2>{{guide?.name | titlecase}}</h2>
                            <div>
                                <mdb-icon *ngFor="let star of getRating()" fas icon="star"></mdb-icon>
                                <strong> {{ratings.length}}+ Reviews</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-4 mx-3 mb-0">
                <mdb-card-body style="font-size: 18px !important;">
                    <div class="py-2">
                        <mdb-icon fas icon="check-circle" class="purple-text pr-1"></mdb-icon>Verified <strong>Local Tour Guide</strong>
                    </div>
                    <div class="py-2">
                        <mdb-icon fas icon="map-marker-alt" class="purple-text pr-1"></mdb-icon>Lives in <strong>{{guide?.city}}, {{guide?.state}}</strong>
                    </div>
                    <div class="py-2">
                        <mdb-icon fas icon="birthday-cake" class="purple-text pr-1"></mdb-icon><strong>{{guide?.dob | age}} years old</strong>
                    </div>
                    <div class="py-2">
                        <mdb-icon fas icon="globe" class="purple-text pr-1"></mdb-icon>Speaks <strong>{{guide?.languages.toString()}}</strong>
                    </div>
                    <div class="py-2">
                        <mdb-icon fas icon="heart" class="purple-text pr-1"></mdb-icon>Loves <strong>{{guide?.interests.toString()}}</strong>
                    </div>
                    <div class="text-center py-2">
                        <button mdbBtn type="button" class="pink darken-3 white-text" (click)="openModal(personalTour)" rounded="true" mdbWavesEffect><b>Contact Me</b></button>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-7 col-lg-8">
            <img *ngIf="guide?.picUrl" [src]="guide?.picUrl" 
            class="mt-4 img-fluid z-depth-2" style="height:430px; width:750px">
            <!-- <img *ngIf="!(guide?.picUrl)" src="" class="mt-4 img-fluid z-depth-2" style="height:430px; width:750px"> -->
            <br>
            <br>
            <div>
                <h2>Reviews</h2>
                <div class="row" *ngFor="let rate of ratings | slice:0:3">
                    <div class="col-sm-3">
                        <h6>
                            <mdb-badge pill="true" primary="true">{{rate.rating}}</mdb-badge>
                        </h6>
                        <p><b>{{rate.tourType | titlecase}}</b></p>
                    </div>
                    <div class="col-sm-9" style="border-left: 1px solid rgba(128, 128, 128, 0.308);">
                        <mdb-badge class="float-right" pill="true" info="true">Voila approved &nbsp;
                            <mdb-icon fas icon="check-double"></mdb-icon>
                        </mdb-badge>&nbsp;
                        <p>{{rate.review}}</p>
                    </div>
                </div>
                <hr>

            </div>
            <div class="card my-4 bgclass">
                <div class="view overlay mx-auto pt-5">
                    <img class="card-img rounded-circle " [src]="guide?.picUrl ? guide?.picUrl : 'https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/grayman.png'" style="width:100px; height:100px;" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body text-center white-text">
                    <h3 class="card-title">Hi, I can personalize your experience!</h3>
                    <h6>Just let me know your preferences for a private and personalized trip!
                    </h6>
                    <div class="text-center">
                        <a class="btn pink darken-3 btn-rounded " (click)="openModal(personalTour)">Request a personalized Tour</a>
                    </div>
                </div>
            </div>
            <div>
                <h1 my-2>My Tour Deals in {{guide?.state}}</h1>
                <app-deals-cards [dealsList]="dealList"></app-deals-cards>
            </div>
        </div>
    </div>
</div>






<!--Modal: Login with Avatar Form-->
<div mdbModal #personalTour="mdbModal" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="mytourLabel" aria-hidden="true">
    <app-personal-modal [guide]="guide" (close)="personalTour.hide()"></app-personal-modal>
</div>
<!--Modal: Login with Avatar Form-->