.map-main{
    justify-content: center;
    text-align: center;
}
.state{
    fill: #3AAFA9;
    stroke: white;
    white-space: nowrap;
}
.state:hover{
    fill: #447799;
}
.map-detail{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
