.to-right{
  text-align: center;
  justify-content: right;
  align-items: right;
}
@media only screen and (max-width: 600px){
.img-fluid{
  display: none;
}
}
.col {
  padding: 0;
}
.card-title{
  font-size: 50px;
}


table.table th, table.table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.card h5{
  background: linear-gradient(-225deg, #ba9dcf 0%, #553d67 100%) !important;
}