<!-- Card test -->
<section id="timeline">
    <div class="tl-item">
        <div class="tl-bg" style="background-image: url(https://placeimg.com/1002/1002/nature)"></div>
        <div class="tl-year">
            <p class="f2 heading--sanSerif">Tourist</p>
        </div>
        <div class="tl-content">
            <h1 class="f3 text--accent ttu">Join <b>Voila</b> as Tourist</h1>
            <div>Explore places like a local without any hassle.</div>
            <div>Find a tourist guide and a tour according to your preferences, bearing no middle man and extra charges.</div>
            <button [routerLink]="['/login/tourist']" mdbBtn type="button" color="transparent" mdbWavesEffect>Sign In</button>
            <button [routerLink]="['/tourists/register']" mdbBtn type="button" mdbWavesEffect>Sign Up</button>
        </div>
    </div>

    <div class="tl-item">
        <div class="tl-bg" style="background-image: url(https://placeimg.com/1000/1000/nature)"></div>
        <div class="tl-year">
            <p class="f2 heading--sanSerif">Guide</p>
        </div>
        <div class="tl-content">
            <h1 class="f3 text--accent ttu">Join <b>Voila</b> as Guide</h1>
            <div>Share love for your city and earn for your passion.</div>
            <div>Voila helps you find travellers in your city and a convenient platform for managing the bookings.</div>
            <button [routerLink]="['/login/guide']" mdbBtn type="button" mdbWavesEffect>Sign In</button>
            <button [routerLink]="['/guide/show-register']" mdbBtn type="button" mdbWavesEffect>Sign Up</button>
        </div>
    </div>
</section>