.book-contain {
    margin-left: 130px;
    margin-right: 130px;
}

// places you'll go
#wrapper {
    width: 680px;
    display: table;
    margin: auto;
}

#wrapper>div {
    display: inline-block;
}

.circle {
    position: relative;
    padding: 20px;
    width: 140px;
    height: 120px;
    z-index: 999;
}

.line-top {
    width: 120px;
    height: 60px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dashed 2px white;
    padding: 40px 40px;
    border-radius: 50%;
    margin: 20px -50px 0;
}

.line-bottom {
    width: 120px;
    height: 60px;
    z-index: -1;
    background: transparent;
    border: none;
    border-bottom: dashed 2px white;
    padding: 40px 40px;
    border-radius: 0 0 50% 50%;
    margin: -23px -65px;
}