.pro-bg {
    width: 100%;
    background-color: rgb(31, 110, 86);
}
.det{
  font-size: 3vh;
}
@media(max-width:950px){
.det{
  font-size: 2vh;

}}
.head{
  font-size: 5vh;
  background-color: black;
  color: white;
}
.btn-size{
  size: 5vh;

}
