<div class=" bg ml-0 pl-0  pb-4 mt-5 mx-3 mb-0">
    <div class="row">
        <div class="col-12 col-md-6 mainh text-center mb-2">
            <img [src]="userData?.picUrl ? userData?.picUrl : '../../../../../assets/images/grayman.png'" alt=""
             height="300px" width="100%">
        </div>
        <div class="col-12 col-md-6 pl-4">
            <h3 style="color: #553d67;">  {{userData?.name | titlecase}} </h3>
            <h6>{{userData?.email}}</h6>
            <hr class="my-1">
            <div class="row">
                <div class="col">
                    <h6>Phone</h6>
                </div>
                <div class="col">
                    <h6> {{userData?.phoneNumber}}</h6>
                </div>
            </div>
            <hr class="my-1">
            <div class="row">
                <div class="col">
                    <h6>Aadhar Number</h6>
                </div>
                <div class="col">
                    <h6> {{userData?.aadhaarNumber}}</h6>
                </div>
            </div>
            <hr class="my-1">
            <div class="row">
                <div class="col">
                    <h6>Date of birth</h6>
                </div>
                <div class="col">
                    <h6>D.O.B:{{userData?.dob | date: 'dd-MM-yyyy'}}</h6>
                </div>
            </div>
            <hr class="my-1">
            <div class="row">
                <div class="col">
                    <h6>Address</h6>
                </div>
                <div class="col">
                    <h6> {{userData?.address | titlecase}}</h6>
                </div>
            </div>
            <hr class="my-1">
            <div class="row">
                <div class="col">
                    <h6>City</h6>
                </div>
                <div class="col">
                    <h6> {{userData?.city}}</h6>
                </div>
            </div>
            <hr class="my-1">
            <div class="row">
                <div class="col">
                    <h6>State</h6>
                </div>
                <div class="col">
                    <h6> {{userData?.state}}</h6>
                </div>
            </div>
        </div>        
    </div>  
    <!-- rigt -->
    <div class="row">
        <div class="col pl-4 heading mt-4 text-left">
            <h3 class="p-2">Business Info</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-7 pl-4 text-left">
            <div class="row">
                <div class="col">
                    <h6>People Limit</h6>
                </div>
                <div class="col">
                    <h6>{{userData?.peopleLimit}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Per Head Charges</h6>
                </div>
                <div class="col">
                    <h6>Rs.{{userData?.perHeadCharge}} /-</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Per Day Charges</h6>
                </div>
                <div class="col">
                    <h6>Rs.{{userData?.perDayCharge}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="userData?.experience.length > 0" class="row">
        <div class="col pl-4 heading mt-4 text-left">
            <h3 class="p-2">Experience Info</h3>
        </div>
    </div>
    <div *ngIf="userData?.experience.length > 0" class="row" >
        <div class="col-12 pl-4 text-left" *ngFor="let item of userData?.experience">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col">
                            Work Place
                        </div>
                        <div class="col">
                            <h6>{{item.work | titlecase}}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Work Profile
                        </div>
                        <div class="col">
                            <h6>{{item.profile | titlecase}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col">
                            Duration
                        </div>
                        <div class="col">
                            <h6>{{item.duration}} months</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Start Year
                        </div>
                        <div class="col">
                            <h6>{{item.startYear}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col pl-4 heading mt-4 text-left">
            <h3 class="p-2">Languages Known</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 pl-4 text-left" *ngFor="let item of userData?.languages">
            {{item}}
        </div>
    </div>

    <div class="row">
        <div class="col pl-4 heading mt-4 text-left">
            <h3 class="p-2">Interests</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 pl-4 text-left" *ngFor="let item of userData?.interests">
            {{item}}
        </div>
    </div>

    
<div class="btn-size text-center mt-4">
    <button type="button" mdbBtn (click)="acceptRejectGuide('REJECTED')" color="danger" mdbWavesEffect>Reject</button>

    <button type="button" mdbBtn color="success" (click)="acceptRejectGuide('APPROVED')" mdbWavesEffect>Accept</button>
</div>

</div>

