<div class="container-fluid" *ngIf="favouritesList" >
    <div class="row">
        <div class="col-12">
            <h1 class="headup">Your Favourites</h1>
           <app-deals-cards [dealsList]="favouritesList" [isFav]="'true'"></app-deals-cards> 
        </div>
    </div>
</div>
<div *ngIf="!favouritesList"  class="container-fluid">
    <div class="row vertical-center" style="min-height: 85vh;">
        <div class="col-12 text-center ">
            <h1>No Favourites Yet</h1>
        </div>
    </div>
</div>