



<!-- <table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Guide</th>
        <th scope="col">Price</th>
        <th scope="col">People</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
    </tbody>
  </table> -->
  
  


<!-- /table -->
<!-- <mdb-card class="booking-card">
    <mdb-card-body>
        <mdb-card-title>
            <mdb-badge class="float-right amy-crisp-gradient" default="true">PERSONALIZED TOUR</mdb-badge>
            <h4><strong>Pune, Maharashtra</strong></h4>

        </mdb-card-title>

        <div>
            <div class="container">
                <div class="row fromto grey-text">
                    <div class="col-md-4">
                        FROM
                    </div>
                    <div class="col-md-4">
                        TO
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6>11 Aug'19</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>14 Aug'19</h6>
                    </div>
                    <div class="col-md-4">
                        <i class="fas fa-user-friends"></i> Anika + 4
                    </div>
                </div>
                <div class="row grey-text">
                    <div class="col-md-4">
                        Guide
                    </div>
                    <div class="col-md-4">
                        Price
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6><a [routerLink]="['/guideprofile']">Barkha Joshi</a></h6>
                    </div>
                    <div class="col-md-4">
                        <h6>Rs.500/person</h6>
                    </div>
                </div>

            </div> -->
            <!-- <div>Booking Date: March 25,2020</div> -->
        <!-- </div>

    </mdb-card-body>
    <mdb-card-footer class="text-muted" style="height: 53px;">
        <a href="#!">View more</a>
        <button class="float-right footer-btn" style="margin: auto; " color="danger" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>CANCEL BOOKING</b></button>
    </mdb-card-footer>
</mdb-card> -->

<!-- <mdb-card> -->
    <!--Card content-->
    <br>
    <br>
    <br>
   <mdb-card>
      <mdb-card>
          <mdb-card-body>
              <div class="row">
                  <div class="col-md-10">
                   <mdb-card-title>
                <h4><mdb-icon fas icon="suitcase" style="color: rgba(233, 30, 99, 0.7);" ></mdb-icon> &nbsp; Rishikesh with Arjun Kumar</h4>
              </mdb-card-title> </div>
              <div class="col-md-2">
                <button mdbBtn type="button" size="sm" color="pink" mdbWavesEffect>Chat with Guide</button>
              </div>
          
        </div>
              <!--Text-->
              <mdb-card-text> 
                  Approved booking by the guide under Voils <a href="">terms and condition</a> contact your 
                  guide for any booking related quary .
                  <p><a style="color: rgba(233, 30, 99, 0.7);" (click)="test1.toggle()">View more</a></p>
                  
              </mdb-card-text> 
              
             
              
              
           
  </mdb-card-body>
      </mdb-card>
  <div mdbCollapse [isCollapsed]="true" #test1="bs-collapse">
      <mdb-card>
    <mdb-card-body >
        <!--Text-->
        <mdb-card-text> 
            <div class="row">
                <div class="col-md-4">
                   <h5>From</h5> 03 Aug'2020
                </div>
                <div class="col-md-4">
                  <h5>To</h5> 08 Aug'2020
              </div>
              <div class="col-md-4">
                   <h5>Deal</h5> Pre-Planed deal
              </div>
                
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                 <h5>Guide</h5> Arjun Kumar Sing
              </div>
              <div class="col-md-4">
                <h5>Price</h5> 500/person
            </div>
            <div class="col-md-4">
                 <h5>People</h5> <i class="fas fa-user-friends"></i> Anika + 4
            </div>
              
          </div>
          
        </mdb-card-text> 
      </mdb-card-body>
    </mdb-card>
  </div>
    </mdb-card>
  <br>
  <br>
  <mdb-card>
    <mdb-card>
        <mdb-card-body>
            <div class="row">
                <div class="col-md-10">
                 <mdb-card-title>
              <h4><mdb-icon fas icon="suitcase" style="color: rgba(233, 30, 99, 0.7);" ></mdb-icon> &nbsp; Rishikesh with Arjun Kumar</h4>
            </mdb-card-title> </div>
            <div class="col-md-2">
              <button mdbBtn type="button" size="sm" color="pink" mdbWavesEffect>Chat with Guide</button>
            </div>
        
      </div>
            <!--Text-->
            <mdb-card-text> 
                Approved booking by the guide under Voils <a href="">terms and condition</a> contact your 
                guide for any booking related quary .
                <p><a style="color: rgba(233, 30, 99, 0.7);" (click)="test2.toggle()">View more</a></p>
                
            </mdb-card-text> 
            
           
            
            
         
</mdb-card-body>
    </mdb-card>
<div mdbCollapse [isCollapsed]="true" #test2="bs-collapse">
    <mdb-card>
  <mdb-card-body >
      <!--Text-->
      <mdb-card-text> 
          <div class="row">
              <div class="col-md-4">
                 <h5>From</h5> 03 Aug'2020
              </div>
              <div class="col-md-4">
                <h5>To</h5> 08 Aug'2020
            </div>
            <div class="col-md-4">
                 <h5>Deal</h5> Pre-Planed deal
            </div>
              
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
               <h5>Guide</h5> Arjun Kumar Sing
            </div>
            <div class="col-md-4">
              <h5>Price</h5> 500/person
          </div>
          <div class="col-md-4">
               <h5>People</h5> <i class="fas fa-user-friends"></i> Anika + 4
          </div>
            
        </div>
        
      </mdb-card-text> 
    </mdb-card-body>
  </mdb-card>
</div>
  </mdb-card>