



<!-- <table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Guide</th>
        <th scope="col">Price</th>
        <th scope="col">People</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>11 Aug'2020</td>
        <td>20 Aug'2020</td>
        <td>Arjun kumar singh</td>
        <td>2000</td>
        <td>5</td>
      </tr>
    </tbody>
  </table> -->
  
  


<!-- /table -->
<!-- <mdb-card class="booking-card">
    <mdb-card-body>
        <mdb-card-title>
            <mdb-badge class="float-right amy-crisp-gradient" default="true">PERSONALIZED TOUR</mdb-badge>
            <h4><strong>Pune, Maharashtra</strong></h4>

        </mdb-card-title>

        <div>
            <div class="container">
                <div class="row fromto grey-text">
                    <div class="col-md-4">
                        FROM
                    </div>
                    <div class="col-md-4">
                        TO
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6>11 Aug'19</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>14 Aug'19</h6>
                    </div>
                    <div class="col-md-4">
                        <i class="fas fa-user-friends"></i> Anika + 4
                    </div>
                </div>
                <div class="row grey-text">
                    <div class="col-md-4">
                        Guide
                    </div>
                    <div class="col-md-4">
                        Price
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6><a [routerLink]="['/guideprofile']">Barkha Joshi</a></h6>
                    </div>
                    <div class="col-md-4">
                        <h6>Rs.500/person</h6>
                    </div>
                </div>

            </div> -->
            <!-- <div>Booking Date: March 25,2020</div> -->
        <!-- </div>

    </mdb-card-body>
    <mdb-card-footer class="text-muted" style="height: 53px;">
        <a href="#!">View more</a>
        <button class="float-right footer-btn" style="margin: auto; " color="danger" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>CANCEL BOOKING</b></button>
    </mdb-card-footer>
</mdb-card> -->