.guide-contain {
    margin-left: 110px !important;
    margin-right: 0 !important;
}

.img-fav {
    position: relative;
}
.img-fluid {
    height: 210px;
}
.mdb-card-img img.img-fluid {
    height: 210px;
}
.img-fav .main-img {
    display: block;
    height: 210px;
}

.img-fav .fa-heart {
    position: absolute;
    top: 15px;
    right: 10px;
}

.img-fav .card-img {
    position: absolute;
    bottom: -17px;
    left: 15px;
}

.img-fav .badge {
    position: absolute;
    bottom: -2px;
    left: 70px;
}

@media (min-width: 1200px) {
    .star {
        font-size: 12px;
        font-size: 0.8vw;
    }
}