<div *ngIf="dealsList" class="row mx-lg-2 mx-2">
    <div class="col-12 col-sm-6 col-md-5 col-lg-5 py-2 mb-4" *ngFor="let deal of dealsList" >
        <mdb-card>
            <div class="img-fav">
                <i *ngIf="!isFavourite(deal) && role !== 'guide'" (click)="addToFavourite(deal)" class="far fa-heart fa-lg pink-text"></i>
                <i *ngIf="isFavourite(deal) && role !== 'guide'" (click)="removeFromFavourite(deal)" class="fas fa-heart fa-lg pink-text"></i>
                <img class="main-img" height="240px" width="100%"
                src="https://images.pexels.com/photos/3974152/pexels-photo-3974152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                
                <img class="card-img rounded-circle" 
                [src]="deal.guideId?.picUrl ? deal.guideId?.picUrl : '../../../../../../../assets/images/grayman.png'"
                style="width:70px; height:70px; border:white 3px solid;" alt="">
                <h5 *ngIf="role !== 'guide'"><span class="badge badge-default font-weight-normal">With {{deal.guideId.name | titlecase}}</span></h5>
                <h5 *ngIf="role === 'guide'"><span class="badge badge-default font-weight-normal">With You</span></h5>
            </div>
            <div class="mt-3 mb-3 mx-3">
                <mdb-card-title class="mt-1">
                    <h5><strong>{{deal.city | titlecase}}, {{deal.state | titlecase}}</strong></h5>
                </mdb-card-title>
                <div>
                    <div>From {{deal.startDate | date: 'MMM dd, y'}} | {{deal.endDate | date: 'MMM dd, y'}}</div>
                </div>
                <div>
                    <i><mdb-icon fas icon="user-friends"></mdb-icon></i> &nbsp; Total - <b> {{deal.peopleLimit}}</b> &nbsp; &nbsp;
                    <i><mdb-icon fas icon="user-alt"></mdb-icon></i> &nbsp; Left - <b>{{deal.peopleLeft}}</b>
                </div>
                <div class="mt-2">
                    <div class="float-left">
                        <h4 class="mb-0">₹ {{deal.price}}/-</h4>
                        <div class="mt-0 grey-text">per person</div>
                    </div>
                    <button (click)="openModal1(dealTour, deal)" mdbBtn type="button" class="font-weight-bold btn-brown float-right white-text" mdbWavesEffect>{{role === 'guide' ? 'View' : 'Book'}} Deal</button>
                </div>
            </div>
        </mdb-card>
    </div>
</div>

<div *ngIf="!dealsList" class="row">
    <div class="col text-center">
        <h1>No Deals available here!</h1>
    </div>
</div>


<div style="overflow-y: auto;" mdbModal #dealTour="mdbModal" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="mytourLabel" aria-hidden="true">  
    <app-deal-modal [deal]="selectedDeal" [role]="role" (close)="dealTour.hide()" ></app-deal-modal>
</div>