<div class="row">
  <div class="col-md-12">
   
    <!--Material textarea-->
<div class="md-form md-outline">
  <textarea type="text" id="form75" class="form-control md-textarea" rows="3" mdbInput></textarea>
  <label for="form75">Post some Blog</label>
  <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect style="float: right;">Send &nbsp;<i class="far fa-paper-plane"></i></button>
</div>
  </div>
</div>
<div class="request">

<!-- requests -->
<div class="request-card">

  <mdb-card class="w-50">
  <div class="container1">
      <mdb-card-body>
          <mdb-card-title>
              <h4>Jaipur, Rajasthan</h4>
          </mdb-card-title>

          <mdb-card-text>
              <div>Tourist: <a href="#!">Arjun Gupta</a></div>
              <div>Price: Rs.500/hour</div>
              <div>Booking Date: March 25,2020</div>
          </mdb-card-text>

      </mdb-card-body>
      <img src="https://cdn6.dissolve.com/p/D18_44_025/D18_44_025_0004_600.jpg" class="float-right" alt="...">
  </div>
  <mdb-card-footer class="text-muted" style="height: 55px;">
      <a href="#!">View more</a>
      <button class="float-right footer-btn"  color="success" style="width: auto; margin: auto;" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>ACCEPT</b></button> &nbsp;
      <button class="float-right footer-btn"  color="danger" style="width: auto; margin: auto;" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>REJECT</b></button>
  </mdb-card-footer>
</mdb-card>
</div>

<!-- second -->
<div class="request-card" >

  <mdb-card class="w-50">
  <div class="container1">
      <mdb-card-body>
          <mdb-card-title>
              <h4>Jaipur, Rajasthan</h4>
          </mdb-card-title>

          <mdb-card-text>
              <div>Tourist: <a href="#!">Arjun Gupta</a></div>
              <div>Price: Rs.500/hour</div>
              <div>Booking Date: March 25,2020</div>
          </mdb-card-text>

      </mdb-card-body>
      <img src="https://cdn6.dissolve.com/p/D18_44_025/D18_44_025_0004_600.jpg" class="float-right" alt="...">
  </div>
  <mdb-card-footer class="text-muted" style="height: 55px;">
      <a href="#!">View more</a>
      <button class="float-right footer-btn"  color="success" style="width: auto; margin: auto;" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>ACCEPT</b></button> &nbsp;
      <button class="float-right footer-btn"  color="danger" style="width: auto; margin: auto;" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>REJECT</b></button>
  </mdb-card-footer>
</mdb-card>
</div>

</div>
