.container1 img {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    margin: 14px;
}

.container1 {
    display: flex;
}

mdb-card-text,
mdb-card-text div {
    font-size: medium !important;
}
.requests{
    display: flex;
}
.request-card{
    margin-top: 50px;
    // width: 455px;
}
@media only screen and (max-width: 600px){

    .request-card{
        width: 360px;
        margin-left: -30px;
        // height: 250px;
    }
}