<div class="row">
  <div class="col-md-12">
    <mdb-card class="w-100 mb-3">
      <mdb-card-body>
        <mdb-card-title>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle" height= "50px" width= "50px"
            alt="Responsive image"> &nbsp;
            <b>Full Name</b>   
        </mdb-card-title>
        <hr>

        <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-3">
      <!-- <mdb-icon fas icon="chart-area" size="3x" class="red-text"></mdb-icon> -->
      <h5 class="font-weight-bold mt-3">Analytics</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet</p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3">
      <!-- <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon> -->
      <h5 class="font-weight-bold mt-3">Tutorials</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet</p>

    </div>
    <!--Grid column-->

     <!--Grid column-->
     <div class="col-md-3">
      <!-- <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon> -->
      <h5 class="font-weight-bold mt-3">Tutorials</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet</p>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3">
      <!-- <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon> -->
      <h5 class="font-weight-bold mt-3">Support</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet</p>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
        <mdb-card-text>With supporting text below as a natural lead-in to additional content</mdb-card-text>
      </mdb-card-body>
      <mdb-card-footer class="text-muted">View Details
        <button class="float-right" mdbBtn color="primary">Go somewhere</button>

      </mdb-card-footer>
    </mdb-card>


    <mdb-card class="w-100 mb-3">
      <mdb-card-body>
        <mdb-card-title>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle" height= "50px" width= "50px"
            alt="Responsive image"> &nbsp;
            <b>Full Name</b>   
        </mdb-card-title>
        <hr>

        <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-3">
      <!-- <mdb-icon fas icon="chart-area" size="3x" class="red-text"></mdb-icon> -->
      <h5 class="font-weight-bold mt-3">Analytics</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet</p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3">
      <!-- <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon> -->
      <h5 class="font-weight-bold mt-3">Tutorials</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet</p>

    </div>
    <!--Grid column-->

     <!--Grid column-->
     <div class="col-md-3">
      <!-- <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon> -->
      <h5 class="font-weight-bold mt-3">Tutorials</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet</p>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3">
      <!-- <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon> -->
      <h5 class="font-weight-bold mt-3">Support</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet</p>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
        <mdb-card-text>With supporting text below as a natural lead-in to additional content</mdb-card-text>
      </mdb-card-body>
      <mdb-card-footer class="text-muted">View Details
        <button class="float-right" mdbBtn color="primary">Go somewhere</button>

      </mdb-card-footer>
    </mdb-card>
  </div>
</div>