<div class="mb-5 dealtop">
    <div class="row">
        <div class="col-6">

            <div class="create-font mx-5 mb-2 text-center">Create your deals</div>
            <div class="mx-5 text-center">Let Voila help you make your own tour package/deal according to your preferences</div>

            <div *ngIf="!createDeal" class="text-center my-4">
                <button type="button" mdbBtn (click)="basicModal.show()" style="background-color:#faed26;" class="btn btn-lg" mdbWavesEffect>Create Deal</button>
            </div>
        </div>
        <div class="col-6">
            <img src="assets\images\abstract-success.png" class="float-right my-4" style="height: 300px; width:auto">
        </div>
    </div>
</div>

<!-- this.createDeal = true -->

<div mdbModal #basicModal="mdbModal" class="modal fade right" [config]="{backdrop: false, ignoreBackdropClick: true}" tabindex="-1" id="frameModalTop" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Create Deal</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="dealForm" (ngSubmit)="submitDeal()">

                    <div class="row card-body pb-0">
                        <div class="col">

                            <div class="form-group">

                                <label for="form0"><mdb-icon fas icon="city" class="prefix"></mdb-icon> State</label><br>
                                <select class="form-control" id="form0" formControlName="state" class="browser-default custom-select" #state (change)="getAllCity(state.value)">
                      <option value="" disabled>Select State</option>
                      <option *ngFor="let item of stateList" [value]="item.id"> {{ item?.name }}</option>
                    </select>

                            </div>
                        </div>

                        <div class="col">

                            <div class="form-group">

                                <label for="form1"><mdb-icon fas icon="city" class="prefix"></mdb-icon> City</label>
                                <select formControlName="city" class="form-control" class="browser-default custom-select" id="form1">
                      <option value="" disabled>Select City</option>
                      <option *ngFor="let item of cityList" [value]="item.name"> {{ item?.name }}</option>
                    </select>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">

                                <label for="form2"><mdb-icon fas icon="dollar-sign" class="prefix"></mdb-icon> Price</label>
                                <input formControlName="price" type="number" placeholder="price " id="form2" class="form-control">

                            </div>

                        </div>
                    </div>

                    <div class="row card-body pb-0">
                        <div class="col">

                            <div class="form-group">
                                <label for="form3"><mdb-icon fas icon="calendar-alt" class="prefix"></mdb-icon> From</label>
                                <input formControlName="startDate" type="date" id="form3" class="form-control">

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="form4"><mdb-icon fas icon="calendar-alt" class="prefix"></mdb-icon> To</label>
                                <input formControlName="endDate" type="date" id="form4" class="form-control">
                            </div>



                        </div>

                        <div class="col">
                            <div class="form-group">

                                <label for="form5"><mdb-icon fas icon="users" class="prefix"></mdb-icon> People limit</label>
                                <input formControlName="peopleLimit" type="number" placeholder="people limit" id="form5" class="form-control">
                            </div>

                        </div>
                    </div>

                    <!-- <div class="row card-body pb-0" formArrayName="places">
                        <div class="col-md-7">
                            <label for="form6"><mdb-icon fas icon="map-marker-alt" class="prefix"></mdb-icon> Locations</label>
                            <div class="row" *ngFor="let places of dealForm.get('places').controls; let i= index">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <input [formControlName]="i" placeholder="location" type="text" class="form-control">

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" (click)="removeLocation(i)" style="margin: auto" class="btn btn-md btn-danger">
                              <mdb-icon fas icon="cut" class="prefix"></mdb-icon>
                            </button>
                                </div>


                            </div>
                            <button class="btn btn-default" type="button" (click)="addLocations()">
                          <mdb-icon fas icon="map-marker-alt" class="prefix"></mdb-icon> Add More
                        </button>
                        </div>
                    </div> -->

                </form>


            </div>
            <div class="modal-footer justify-content-center">
                <button mdbBtn type="button" color="unique" (click)="this.createDeal = false; this.createForm()" mdbWavesEffect class="float-right">Cancel &nbsp;
                    <mdb-icon fas icon="cut"></mdb-icon>
                  </button>
                <button mdbBtn type="submit" color="secondary" mdbWavesEffect class="float-right">Create &nbsp;<mdb-icon fas icon="check"></mdb-icon></button>
                <!-- <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>OK!</button> -->
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="createDeal" class="card">
    <div class="card-body pb-0">
        <h1 class="card-title">Create Your Deal</h1>
    </div>
    <hr class="mt-0 mx-3">

    <form [formGroup]="dealForm" (ngSubmit)="submitDeal()">

        <div class="row card-body pb-0">
            <div class="col">

                <div class="form-group">
                   
                    <label for="form0"><mdb-icon fas icon="city" class="prefix"></mdb-icon> State</label><br>
                    <select class="form-control" id="form0" formControlName="state" class="browser-default custom-select" #state (change)="getAllCity(state.value)">
          <option value="" disabled>Select State</option>
          <option *ngFor="let item of stateList" [value]="item.id"> {{ item?.name }}</option>
        </select>

                </div>
            </div>

            <div class="col">

                <div class="form-group">

                    <label for="form1"><mdb-icon fas icon="city" class="prefix"></mdb-icon> City</label>
                    <select formControlName="city" class="form-control" class="browser-default custom-select" id="form1">
          <option value="" disabled>Select City</option>
          <option *ngFor="let item of cityList" [value]="item.name"> {{ item?.name }}</option>
        </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                   
                    <label for="form2"><mdb-icon fas icon="dollar-sign" class="prefix"></mdb-icon> Price</label>
                    <input formControlName="price" type="number" placeholder="price " id="form2" class="form-control">
           
                </div>

            </div>
        </div>

        <div class="row card-body pb-0">
            <div class="col">
           
                <div class="form-group">
                    <label for="form3"><mdb-icon fas icon="calendar-alt" class="prefix"></mdb-icon> From</label>
                    <input formControlName="startDate" type="date" id="form3" class="form-control">

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="form4"><mdb-icon fas icon="calendar-alt" class="prefix"></mdb-icon> To</label>
                    <input formControlName="endDate" type="date" id="form4" class="form-control">
                </div>
    


            </div>

            <div class="col">
                <div class="form-group">

                    <label for="form5"><mdb-icon fas icon="users" class="prefix"></mdb-icon> People limit</label>
                    <input formControlName="peopleLimit" type="number" placeholder="people limit" id="form5" class="form-control">
                </div>

            </div>
        </div>

        <div class="row card-body pb-0" formArrayName="places">
            <div class="col-md-7">
                <label for="form6"><mdb-icon fas icon="map-marker-alt" class="prefix"></mdb-icon> Locations</label>
                <div class="row" *ngFor="let places of dealForm.get('places').controls; let i= index">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input [formControlName]="i" placeholder="location" type="text" class="form-control">

                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" (click)="removeLocation(i)" style="margin: auto" class="btn btn-md btn-danger">
                  <mdb-icon fas icon="cut" class="prefix"></mdb-icon>
                </button>
                    </div>


                </div>
                <button class="btn btn-default" type="button" (click)="addLocations()">
              <mdb-icon fas icon="map-marker-alt" class="prefix"></mdb-icon> Add More
            </button>
            </div>
        </div>

        <div class="row pr-3 pb-3">
            <div class="col-md-12">
                <button mdbBtn type="button" color="unique" (click)="this.createDeal = false; this.createForm()" mdbWavesEffect class="float-right">Cancel &nbsp;
              <mdb-icon fas icon="cut"></mdb-icon>
            </button>
                <button mdbBtn type="submit" color="secondary" mdbWavesEffect class="float-right">Create &nbsp;<mdb-icon fas icon="check"></mdb-icon></button>
            </div>
        </div>
    </form>

</div> -->

<!--  -->
<div class="mx-5 mb-5">
    <h1>Your Deals</h1>

    <div class="row my-3 ">
        <div class="col-md-4 py-4" *ngFor="let deal of DealsList">
            <mdb-card>
                <div class="img-fav">
                    <!-- <i class="far fa-heart fa-lg"></i> -->
                    <!--Card image-->
                    <mdb-card-img class="main-img" src="https://images.thrillophilia.com/image/upload/s--8pyG_oK_--/c_fill,dpr_1.0,f_auto,fl_strip_profile,g_center,h_450,q_auto,w_753/v1/images/photos/000/113/476/original/1501063349_Pune_Palace.jpg.jpg" alt="Card image cap"></mdb-card-img>
                    <img class="card-img rounded-circle" src="assets\images\jyotirmoy-gupta-leQOdFApLRw-unsplash.jpg" style="width:70px; height:70px; border:white 3px solid;" alt="Card image cap">
                    <h5><span class="badge badge-default font-weight-normal">{{deal.city}} tour with Barkha Joshi</span></h5>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h5><strong>{{deal.places[0]}} Tour</strong></h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        <div>{{deal.places.toString()}}.</div>
                        <div>&#x20b9;{{deal.price}} pp &#8226; From {{deal.startDate | date: 'dd-MM-yy'}} &#8226; To {{deal.endDate | date: 'dd-MM-yy'}}</div>
                    </mdb-card-text>

                    <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>
<!-- </div> -->





<!--  -->


<!-- <div class="deal-text">
  <h1>Your Deals</h1>
</div>
<br>
<div class="deal-card">


  <mdb-card>
    <mdb-card-body>
        <mdb-card-title>
            <mdb-badge class="float-right morpheus-den-gradient big-badge" default="true">PRE-PLANED TOUR</mdb-badge>
            <mdb-badge class="float-right morpheus-den-gradient small-badge" default="true">G</mdb-badge>

            <h4>Jaipur, Rajasthan</h4>

        </mdb-card-title>
        <div class="row">

          <mdb-card-text class="col-sm-6">
                <div>Guide: <a href="#!">Arjun Gupta</a></div>
                <div>Locations: location1
                  location2
                  location3
                </div>
            </mdb-card-text>
            <mdb-card-text class="col-sm-6">
              <div>Number of people: 4</div>
              <div>Price: Rs.500/hour</div>
              <div>Duration: 5 days</div>
          </mdb-card-text>

        </div>


    </mdb-card-body>
    <mdb-card-footer class="text-muted" style="height: 55px;">
        <a href="#!">View more</a>
        <button class="float-right footer-btn" style="margin: auto; " color="danger" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>DELETE &nbsp; <mdb-icon fas icon="trash-alt"></mdb-icon></b></button>
         <a href="..."> <i class="fas fa-phone-alt float-right"></i> </a>
    </mdb-card-footer>
  </mdb-card>
</div> -->