.dealtop {
    background-color: #7bd3c3;
}

.create-font {
    font-family: 'Bangers', cursive;
    font-size: 75px;
    margin-top: 50px;
    word-spacing: 18px;
}

mdb-card-text div {
    font-size: medium;
}

.fa-phone-alt {
    display: none;
}

.small-badge {
    display: none;
}

@media only screen and (max-width: 600px) {
    .footer-btn {
        display: none;
    }
    .fa-phone-alt {
        display: initial;
        margin: auto;
        color: lightseagreen;
    }
    .big-badge {
        display: none;
    }
    .small-badge {
        display: initial;
    }
}

// 
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.bgclass {
    background-image: linear-gradient(to right, #22c1c3, #fdbb2d);
}

.guide-contain {
    margin-left: 110px !important;
    margin-right: 0 !important;
}

.img-fav {
    position: relative;
}

.img-fav .main-img {
    display: block;
}

.img-fav .fa-heart {
    position: absolute;
    top: 15px;
    right: 10px;
}

.img-fav .card-img {
    position: absolute;
    bottom: -17px;
    left: 15px;
}

.img-fav .badge {
    position: absolute;
    bottom: -2px;
    left: 70px;
}