<div class="deal-text">
  <h1>Create Your Deal</h1>
</div>



<div class="deal-form">

  <div class="row">
    <div class="col">
    
      <div class="md-form">
      <mdb-icon fas icon="city" class="prefix"></mdb-icon>
      <input mdbInput type="text" id="form2" class="form-control">
      <label for="form2">Destination Name</label>
    </div> 
    </div>
     
    <div class="col">
    <div class="md-form">
      <mdb-icon fas icon="dollar-sign" class="prefix"></mdb-icon>
      <input mdbInput type="text" id="form2" class="form-control">
      <label for="form2">Price</label>
    </div>
    
    </div>
     </div>
    
     <div class="md-form">
      <mdb-icon fas icon="map-marker-alt" class="prefix"></mdb-icon>
      <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
      <label for="form7">List the locations</label>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-6">
             <div class="md-form">
        <mdb-icon fas icon="calendar-alt" class="prefix"></mdb-icon>
        <input mdbInput type="date" id="form1" class="form-control">
        <label for="form2">From</label>
      </div> 
          </div>
          <div class="col-6">
            <div class="md-form">
       <mdb-icon fas icon="calendar-alt" class="prefix"></mdb-icon>
       <input mdbInput type="date" id="form1" class="form-control">
       <label for="form2">To</label>
     </div> 
         </div>
        </div>
    
       
      </div>
       
      <div class="col">
      <div class="md-form">
        <mdb-icon fas icon="users" class="prefix"></mdb-icon>
        <input mdbInput type="text" id="form1" class="form-control">
        <label for="form2">People limit</label>
      </div>
      
      </div>
       </div>
       <div class="md-form">
        <mdb-icon fas icon="edit" class="prefix"></mdb-icon>
        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
        <label for="form7">Discription</label>
      </div>
      <button mdbBtn type="button" color="secondary" rounded="true" mdbWavesEffect class="float-right">Create &nbsp;<mdb-icon fas icon="check"></mdb-icon></button>
<br>
<br>
<br>
</div>
<div class="deal-text">
  <h1>Your Deals</h1>
</div>
<br>
<div class="deal-card">


  <mdb-card>
    <mdb-card-body>
        <mdb-card-title>
            <mdb-badge class="float-right morpheus-den-gradient big-badge" default="true">PRE-PLANED TOUR</mdb-badge>
            <mdb-badge class="float-right morpheus-den-gradient small-badge" default="true">G</mdb-badge>
  
            <h4>Jaipur, Rajasthan</h4>
  
        </mdb-card-title>
        <div class="row">
  
          <mdb-card-text class="col-sm-6">
                <div>Guide: <a href="#!">Arjun Gupta</a></div>
                <div>Locations: location1
                  location2
                  location3
                </div>
            </mdb-card-text>
            <mdb-card-text class="col-sm-6">
              <div>Number of people: 4</div>
              <div>Price: Rs.500/hour</div>
              <div>Duration: 5 days</div>
          </mdb-card-text>
  
        </div>
        
  
    </mdb-card-body>
    <mdb-card-footer class="text-muted" style="height: 55px;">
        <a href="#!">View more</a>
        <button class="float-right footer-btn" style="margin: auto; " color="danger" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>DELETE &nbsp; <mdb-icon fas icon="trash-alt"></mdb-icon></b></button>
         <a href="..."> <i class="fas fa-phone-alt float-right"></i> </a> 
    </mdb-card-footer>
  </mdb-card>
</div>