<!--Accordion wrapper-->
<div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
  <div class="card">
    <div class="card-header gray lighten-3 z-depth-1" role="tab" id="heading96">
      <!-- <h5 class="text-uppercase mb-0 py-1"> -->
        <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="false"
          aria-controls="collapse96">
          I am the first title of accordion
        </a>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-5 ">

            <!--Featured image-->
            <div class="view overlay z-depth-1 mb-4">
              <img src="https://mdbootstrap.com/img/Photos/Others/img%20(43).jpg" class="img-fluid rounded-0"
                alt="Sample image">
              <a>
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
              </a>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 text-left">

            <h4 class="mb-3"><strong>This is title of the news</strong></h4>
            <p class="dark-grey-text">Sed ut perspiciatis voluptatem
              accusantium doloremque,</p>
            <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
            <a class="btn btn-indigo btn-sm">Read more</a>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->



      <!-- </h5> -->
    </div>
    <div id="collapse96" class="collapse" role="tabpanel" aria-labelledby="heading96"
      data-parent="#accordionEx23">
      <div class="card-body">
        <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6">

                <!--Small news-->
                <div class="single-news">

                  <div class="row mb-3">

                    <div class="col-md-4">
                      <!--Image-->
                      <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(95).jpg"
                          class="img-fluid rounded-0" alt="Minor sample post image">
                        <a>
                          <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                      </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-8">
                      <p class="font-small text-left mb-2"><strong>19/08/2016</strong></p>
                      <p class="text-left"><a>Title of the news
                          <i class="fas fa-angle-right float-right"></i>
                        </a></p>
                    </div>

                  </div>

                </div>
                <!--/Small news-->

                <!--Small news-->
                <div class="single-news">

                  <div class="row mb-3">

                    <div class="col-md-4">
                      <!--Image-->
                      <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(78).jpg"
                          class="img-fluid rounded-0" alt="Minor sample post image">
                        <a>
                          <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                      </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-8">
                      <p class="font-small text-left mb-2"><strong>18/08/2016</strong></p>
                      <p class="text-left"><a>Title of the news
                          <i class="fas fa-angle-right float-right"></i>
                        </a></p>
                    </div>

                  </div>

                </div>
                <!--/Small news-->

                <!--Small news-->
                <div class="single-news">

                  <div class="row mb-3">

                    <div class="col-md-4">
                      <!--Image-->
                      <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(45).jpg"
                          class="img-fluid rounded-0" alt="Minor sample post image">
                        <a>
                          <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                      </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-8">
                      <p class="font-small text-left mb-2"><strong>17/08/2016</strong></p>
                      <p class="text-left"><a>Title of the news
                          <i class="fas fa-angle-right float-right"></i>
                        </a></p>
                    </div>

                  </div>

                </div>
                <!--/Small news-->

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6">

                <!--Small news-->
                <div class="single-news">

                  <div class="row mb-3">

                    <div class="col-md-4">
                      <!--Image-->
                      <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(93).jpg"
                          class="img-fluid rounded-0" alt="Minor sample post image">
                        <a>
                          <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                      </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-8">
                      <p class="font-small text-left mb-2"><strong>19/08/2016</strong></p>
                      <p class="text-left"><a>Title of the news
                          <i class="fas fa-angle-right float-right"></i>
                        </a></p>
                    </div>

                  </div>

                </div>
                <!--/Small news-->

                <!--Small news-->
                <div class="single-news">

                  <div class="row mb-3">

                    <div class="col-md-4">
                      <!--Image-->
                      <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(43).jpg"
                          class="img-fluid rounded-0" alt="Minor sample post image">
                        <a>
                          <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                      </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-8">
                      <p class="font-small text-left mb-2"><strong>18/08/2016</strong></p>
                      <p class="text-left"><a>Title of the news
                          <i class="fas fa-angle-right float-right"></i>
                        </a></p>
                    </div>

                  </div>
                </div>
                <!--/Small news-->

                <!--Small news-->
                <div class="single-news">

                  <div class="row mb-3">

                    <div class="col-md-4">
                      <!--Image-->
                      <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                          class="img-fluid rounded-0" alt="Minor sample post image">
                        <a>
                          <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                      </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-8">
                      <p class="font-small text-left mb-2"><strong>17/08/2016</strong></p>
                      <p class="text-left"><a>Title of the news
                          <i class="fas fa-angle-right float-right"></i>
                        </a></p>
                    </div>

                  </div>

                </div>
                <!--/Small news-->

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header gray lighten-3 z-depth-1" role="tab" id="heading97">
      <!-- <h5 class="text-uppercase mb-0 py-1"> -->
        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse97"
          aria-expanded="false" aria-controls="collapse97">
          I am the second title of accordion
        </a>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-5 ">

            <!--Featured image-->
            <div class="view overlay z-depth-1 mb-4">
              <img src="https://mdbootstrap.com/img/Photos/Others/img%20(43).jpg" class="img-fluid rounded-0"
                alt="Sample image">
              <a>
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
              </a>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 text-left">

            <h4 class="mb-3"><strong>This is title of the news</strong></h4>
            <p class="dark-grey-text">Sed ut perspiciatis voluptatem
              accusantium doloremque,</p>
            <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
            <a class="btn btn-indigo btn-sm">Read more</a>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->


      <!-- </h5> -->
    </div>
    <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97"
      data-parent="#accordionEx23">
      <div class="card-body">
        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6">

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(95).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>19/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>

            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(78).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>18/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>

            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(45).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>17/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>

            </div>
            <!--/Small news-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6">

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(93).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>19/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>

            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(43).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>18/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>
            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>17/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>

            </div>
            <!--/Small news-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header gray lighten-3 z-depth-1" role="tab" id="heading98">
      <!-- <h5 class="text-uppercase mb-0 py-1"> -->
        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse98"
          aria-expanded="false" aria-controls="collapse98">
          I am the third title of accordion
        </a>

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-5 ">

                <!--Featured image-->
                <div class="view overlay z-depth-1 mb-4">
                  <img src="https://mdbootstrap.com/img/Photos/Others/img%20(43).jpg" class="img-fluid rounded-0"
                    alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 text-left">

                <h4 class="mb-3"><strong>This is title of the news</strong></h4>
                <p class="dark-grey-text">Sed ut perspiciatis voluptatem
                  accusantium doloremque,</p>
                <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
                <a class="btn btn-indigo btn-sm">Read more</a>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

      <!-- </h5> -->
    </div>
    <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98"
      data-parent="#accordionEx23">
      <div class="card-body">
        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6">

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(95).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>19/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>

            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(78).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>18/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>

            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(45).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>17/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>

            </div>
            <!--/Small news-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6">

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(93).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>19/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>

            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(43).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>18/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>
            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

              <div class="row mb-3">

                <div class="col-md-4">
                  <!--Image-->
                  <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                      class="img-fluid rounded-0" alt="Minor sample post image">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-8">
                  <p class="font-small text-left mb-2"><strong>17/08/2016</strong></p>
                  <p class="text-left"><a>Title of the news
                      <i class="fas fa-angle-right float-right"></i>
                    </a></p>
                </div>

              </div>

            </div>
            <!--/Small news-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </div>
    </div>
  </div>
</div>
<!--Accordion wrapper-->