<div class="row all" style="padding: 0; margin: 0;">
    <div class="col-md-12 mx-0">
        <div class="row">
            <div class="col-md-12 mx-0" style="padding: 0;" >
                <div class="tab-content" id="myTabContent">
                  <!-- <div *ngIf="ShowLoadingIndicator" class="loader">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div> -->
                    <router-outlet ></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
