<div class="bg">
    <div class="card register-card m-5 mx-auto my-auto w-auto w-lg-100">
        <div class="row">
            <div class="col-12 px-5 py-4">
                <h2 style="font-size: 50px;" class="card-title text-center mt-3 mb-4">Sign up</h2>
                <form [formGroup]="detailsForm" (ngSubmit)="submitForm()">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-12 col-md-12 mb-2">
                                <div class="form-group">
                                    <mdb-icon fas icon="user" class="prefix"></mdb-icon>&nbsp;
                                    <label for="form2">Full Name</label>
                                    <input type="text" formControlName="name" id="form2" placeholder="Enter name" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-md-12 mb-2">
                                <div class="form-group">
                                    <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>&nbsp;
                                    <label for="form5">Email</label>
                                    <input type="text" id="form5" formControlName="email" placeholder="Enter email" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-2">
                                <div class="form-group">
                                    <mdb-icon fas icon="phone-alt" class="prefix"></mdb-icon>&nbsp;
                                    <label for="form4">Phone Number</label>
                                    <input type="text" id="form4" formControlName="phoneNumber" placeholder="Enter phone no" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-2">
                                <div class="form-group">
                                    <mdb-icon fas icon="flag" class="prefix"></mdb-icon>&nbsp;
                                    <label>Nationality</label>
                                    <select formControlName="nationality" class="browser-default custom-select">
                                        <option value="" disabled>Nationality</option>
                                        <option *ngFor="let item of countryList" [value]="item.name">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 mb-2">
                                <mdb-icon fas icon="caret-down" class="prefix"></mdb-icon>&nbsp;
                                <label>Gender</label>
                                <select formControlName="gender" class="browser-default custom-select">
                                    <option  value="" disabled>Select</option>
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Ms">Ms</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-6 mb-2">
                                <mdb-icon fas icon="calendar-day" class="prefix"></mdb-icon>&nbsp;
                                <label for="form9">Age</label>
                                <input type="number" id="form9" formControlName="age" placeholder="Enter age" class="form-control">
                            </div>
                            <div class="col-12 col-md-6 mb-2">
                                <div class="form-group">
                                    <mdb-icon fas icon="key" class="prefix"></mdb-icon>&nbsp;
                                    <label for="form6">Create Password</label>
                                    <input type="password" id="form6" formControlName="password" placeholder="Enter Password" class="form-control">
                                </div>
                            </div>
                            <div class=" col-12 col-md-6 mb-4">
                                <div class="form-group">
                                    <mdb-icon fas icon="key" class="prefix"></mdb-icon>&nbsp;
                                    <label for="form7">Confirm Password</label>
                                    <input type="password" id="form7" formControlName="confirmPassword" placeholder="Enter Confirm Password" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button style="text-transform:none; font-size: 20px; background: #553d67;" type="submit" class="btn white-text">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
