<!-- <div class="container table-responsive">
  <table mdbTable #tableEl="mdbTable" class="z-depth-1 table-hover">
    <thead>
    <tr>
      <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of elements; let i = index">
      <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
          scope="row">{{el.id}}</th>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.first}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.last}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.handle}}</td>
    </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="4">
        <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</div> -->

<!--Table-->
<!-- <table class="table table-hover table-fixed"> -->

  <!--Table head-->
  <!-- <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Country</th>
      <th>City</th>
      <th>Position</th>
      <th>Age</th>
    </tr>
  </thead> -->
  <!--Table head-->

  <!--Table body-->
  <!-- <tbody>
    <tr>
      <th scope="row">4</th>
      <td>Jerry</td>
      <td>Horwitz</td>
      <td>Italy</td>
      <td>Bari</td>
      <td>Editor-in-chief</td>
      <td>41</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Janis</td>
      <td>Joplin</td>
      <td>Poland</td>
      <td>Warsaw</td>
      <td>Video Maker</td>
      <td>39</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Gary</td>
      <td>Winogrand</td>
      <td>Germany</td>
      <td>Berlin</td>
      <td>Photographer</td>
      <td>37</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Angie</td>
      <td>Smith</td>
      <td>USA</td>
      <td>San Francisco</td>
      <td>Teacher</td>
      <td>52</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>John</td>
      <td>Mattis</td>
      <td>France</td>
      <td>Paris</td>
      <td>Actor</td>
      <td>28</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Otto</td>
      <td>Morris</td>
      <td>Germany</td>
      <td>Munich</td>
      <td>Singer</td>
      <td>35</td>
    </tr>
  </tbody>
  

</table> -->
<!-- table -->


<table class="table">
  <thead class="black white-text">
    <tr>
      <th scope="col">#</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Tourist</th>
      <th scope="col">Price</th>
      <th scope="col">People</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>11 Aug'2020</td>
      <td>20 Aug'2020</td>
      <td>Arjun kumar singh</td>
      <td>2000</td>
      <td>5</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>11 Aug'2020</td>
      <td>20 Aug'2020</td>
      <td>Arjun kumar singh</td>
      <td>2000</td>
      <td>5</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>11 Aug'2020</td>
      <td>20 Aug'2020</td>
      <td>Arjun kumar singh</td>
      <td>2000</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
<!-- /table -->
<mdb-card>
  <mdb-card-body>
      <mdb-card-title>
          <mdb-badge class="float-right amy-crisp-gradient big-badge" default="true">PERSONALISED TOUR</mdb-badge>
          <mdb-badge class="float-right amy-crisp-gradient small-badge" default="true">P</mdb-badge>

          <h4>Jaipur, Rajasthan</h4>

      </mdb-card-title>
      <div class="row">

        <mdb-card-text class="col-sm-6">
              <div>Tourist: <a href="#!">Arjun Gupta</a></div>
              <div>Gender: Male </div>
              <div>Booking Date: March 25,2020</div>
          </mdb-card-text>
          <mdb-card-text class="col-sm-6">
            <div>Number of people: 4</div>
            <div>Price: Rs.500/hour</div>
            <div>Duration: 5 days</div>
        </mdb-card-text>

      </div>
      

  </mdb-card-body>
  <mdb-card-footer class="text-muted" style="height: 55px;">
      <a href="#!">View more</a>
      <button class="float-right footer-btn" style="margin: auto; " color="info" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>CONTACT TOURIST</b></button>
       <a href="..."> <i class="fas fa-phone-alt float-right"></i> </a> 
  </mdb-card-footer>
</mdb-card>