.navside {
    overflow: -moz-hidden-unscrollable;
    // width: 250px;
    // z-index: 1;
    // left: 0;
    // top: 45px;
    // padding-top: 20px;
    // position: sticky;
    background-color: #b7e8eb !important;
    margin: 0;
    height: 100%;
    // overflow: auto;
}

// .sticky {
//     position: -webkit-sticky;
//     position: sticky;
//     top: 0;
// }
.guide-name {
    color: #3AAF;
    margin: 10px;
    padding: 2px;
}

// .main {
// margin-left: 250px;

/* Same as the width of the sidebar */