.col {
    padding: 0;
}

.card-title {
    font-size: 50px;
}

table.table th,
table.table td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bag {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9671218829328606) 25%, rgba(221, 213, 226, 1) 75%, rgba(202, 194, 207, 1) 99%);
}

.col-4 {
    padding: 0 8px;
}