

.card-title{
font-size: 50px;
}
.table thead{
background: #553d67;
color: white;
}

th , td{

border: 2px solid #553d67;
}
tbody td:hover , tbody th:hover{
background: #8735977a;
}
tbody tr:hover{
background:#72295a62 !important;
}
