<div class="request">

<!-- requests -->
<div class="request-card">

  <!--  -->

<div *ngIf="requestList" class="card">
  <div class="table-responsive card-body">
    <div class="card-title"><h4>Your Requests</h4></div>
    <table class="table table-hover">
      <thead >
        <tr>
          <th scope="col">Sr no.</th>
          <th scope="col">Tourist</th>
          <th scope="col">Places</th>
          <th scope="col">Booking Date</th>
          <th scope="col">Duration</th>
          <th scope="col">Price</th>
          <th scope="col">People</th>
          <th scope="col">Group Type</th>
          <th scope="col">Tour</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of requestList; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>-</td>
          <td>-</td>
          <td>{{data.bookingDate | date: 'dd-MM-yyyy'}}</td>
          <td>-</td>
          <td>{{data.price}}</td>
          <td>{{data.noOfPeople}}</td>
          <td>{{data.groupType}}</td>
          <td>-</td>
          <td>
            <button class="btn" (click)="acceptRequest(data._id)" color="success" style="margin: auto; "  mdbBtn type="button" size="sm" mdbWavesEffect>
              <b>ACCEPT</b>
            </button>
            <button class="btn" (click)="rejectRequest(data._id)" color="danger" style="margin: auto; "  mdbBtn type="button" size="sm" mdbWavesEffect>
              <b>REJECT</b>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>  
</div>
  <!-- /table -->
  
  <!-- <mdb-card >
  <div class="container1">
      <mdb-card-body>
          <mdb-card-title>
              <h4>Jaipur, Rajasthan</h4>
          </mdb-card-title>

          <div class="row">

            <mdb-card-text class="col-sm-6">
                  <div>Tourist: <a href="#!">Arjun Gupta</a></div>
                  <div>Gender: Male </div>
                  <div>Booking Date: March 25,2020</div>
              </mdb-card-text>
              <mdb-card-text class="col-sm-6">
                <div>Number of people: 4</div>
                <div>Price: Rs.500/hour</div>
                <div>Duration: 5 days</div>
            </mdb-card-text>
    
          </div>

      </mdb-card-body>
      <img src="https://cdn6.dissolve.com/p/D18_44_025/D18_44_025_0004_600.jpg" class="float-right" alt="...">
  </div>
  <mdb-card-footer class="text-muted" style="height: 55px;">
      <a href="#!">View more</a>
      <button class="float-right footer-btn"  color="success" style="width: auto; margin: auto;" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>ACCEPT</b></button> &nbsp;
      <button class="float-right footer-btn"  color="danger" style="width: auto; margin: auto;" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>REJECT</b></button>
  </mdb-card-footer>
</mdb-card>
</div>

<!-- second 
<div class="request-card" >

  <mdb-card>
  <div class="container1">
      <mdb-card-body>
          <mdb-card-title>
              <h4>Jaipur, Rajasthan</h4>
          </mdb-card-title>
          <div class="row">

            <mdb-card-text class="col-sm-6">
                  <div>Tourist: <a href="#!">Arjun Gupta</a></div>
                  <div>Gender: Male </div>
                  <div>Booking Date: March 25,2020</div>
              </mdb-card-text>
              <mdb-card-text class="col-sm-6">
                <div>Number of people: 4</div>
                <div>Price: Rs.500/hour</div>
                <div>Duration: 5 days</div>
            </mdb-card-text>
    
          </div>
          

      </mdb-card-body>
      <img src="https://cdn6.dissolve.com/p/D18_44_025/D18_44_025_0004_600.jpg" class="float-right" alt="...">
  </div>
  <mdb-card-footer class="text-muted" style="height: 55px;">
      <a href="#!">View more</a>
      <button class="float-right footer-btn"  color="success" style="width: auto; margin: auto;" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>ACCEPT</b></button> &nbsp;
      <button class="float-right footer-btn"  color="danger" style="width: auto; margin: auto;" ng mdbBtn type="button" size="sm" mdbWavesEffect><b>REJECT</b></button>
  </mdb-card-footer>
</mdb-card> -->
</div>

</div>
