<div class="parallax p1">
    <div class="white-text centered">
        <div class="text-center">
            <h1><b>Love to wander in your city?</b></h1>
        </div>
        <div class="text-center">
            <h3>Make money while sharing this love!</h3>
        </div>
        <div class="text-center">
            <button mdbBtn type="button" (click)="navigateToRegisterPage()" rounded="true" style=" border-radius: 25px; text-transform:none; font-size: 17px;" class="white cyan-text font-weight-bold" mdbWavesEffect>Get Started!</button>
        </div>
    </div>
</div>
<div class="my-5 text-center">
    <h1><b>Voila!</b></h1>
    <div>Its a platform that empowers locals, like you to earn money by hosting tours and experiences in their city.</div>
</div>
<div class="parallax p2">
</div>
<div class="my-3 my-md-5 mx-3 text-center">
    <h1 class="pb-4"><b>Perks of being a Voila Guide</b></h1>
    <div class="row">
        <div class="col-md-4 px-4 shows">
            <div>
                <mdb-icon far icon="smile-beam" size="2x"></mdb-icon>
            </div>
            <div>
                <strong style="font-size:20px;">Earn money doing what you love</strong>
                <div>If you love your city why not share it with the rest of the world? Even better, why not make some money while doing so. Here, you set up your own price.
                </div>
            </div>
        </div>
        <div class="col-md-4 px-4 shows">
            <div>
                <mdb-icon fas icon="couch" size="2x"></mdb-icon>
            </div>
            <div>
                <strong style="font-size:20px;">Find local travellers sitting at home</strong>
                <div> No need to roam here and there searching for local tourists who requires a guide. Easily plan and book your tours or experiences using our interface wherever you are.
                </div>
            </div>
        </div>
        <div class="col-md-4 px-4 shows">
            <div>
                <mdb-icon fas icon="heart" size="2x"></mdb-icon>
            </div>
            <div>
                <strong style="font-size:20px;"> Share your passion, in your own way!</strong>
                <div>What better way to show a city than through the eyes of a local! Create a one of a kind experience, from a cooking class to an off the beaten path tour or a dance workshop. The choice is yours!
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax p3">
</div>
<div class="my-3 my-md-5 mx-3 text-center">
    <h1 class="pb-4"><b>What Voila offers you</b></h1>
    <div class="row">
        <div class="col-md-4 px-4 shows">
            <div>
                <mdb-icon fas icon="check" size="2x" class="cyan-text" style="opacity:0.5;"></mdb-icon>
            </div>
            <div>
                <strong style="font-size:20px;">Free platform & marketing tools</strong>
                <div>
                    An easy to use platform to show your offers and manage your bookings. Promoting your offer on the platform is free and our marketing experts take care of all the professional promotion.
                </div>
            </div>
        </div>
        <div class="col-md-4 px-4 shows">
            <div>
                <mdb-icon fas icon="check" size="2x" class="cyan-text" style="opacity:0.5;"></mdb-icon>
            </div>
            <div>
                <strong style="font-size:20px;">Excellent host support</strong>
                <div>
                    Our team is here for you anytime during office hours and weekends. We’ve got a team full of customer care, data and travel experts who are all here to help boost your hosting experience.
                </div>
            </div>
        </div>
        <div class="col-md-4 px-4 shows">
            <div>
                <mdb-icon fas icon="check" size="2x" class="cyan-text" style="opacity:0.5;"></mdb-icon>
            </div>
            <div>
                <strong style="font-size:20px;">Payment guaranteed</strong>
                <div>
                    We make safe and trusted payment possible guaranteeing your payment, even with late cancellations and no shows.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-5 text-center bgclass white-text getStartedBlock p-5">
    <h1 class="py-4"><b>Let's get started!</b></h1>
    <div class="row pb-3">
        <div class=" col-12 col-md-4 px-3">
            <div class="text-center" style="font-size:65px; font-weight: 800;">1<br>
                <p style="font-size:30px">Create your Voila account</p>
            </div>
            <div style="font-size:18px;">
                Sign up and set up your profile. Already have an account? Then, let’s get started with your host application.
            </div>
        </div>
        <div class="col-12 col-md-4 px-3">
            <div class="text-center" style="font-size:65px; font-weight: 800;">2 <br>
                <p style=" font-size:30px">Questionnaire</p>
            </div>
            <div style="font-size:18px;">We want to know more from you. It will help us get an idea of what you are really passionate about.</div>
        </div>
        <div class="col-12 col-md-4 px-3">
            <div class="text-center" style="font-size:65px; font-weight: 800;">3 <br>
                <p style="font-size:30px;">We’ll be in touch</p>
            </div>
            <div style="font-size:18px;">Submit your questionnaire and that’s it! Once we review your application, our team will reach out to you.</div>
        </div>
    </div>
    <button mdbBtn type="button" (click)="navigateToRegisterPage()" rounded="true" style=" border-radius: 25px; text-transform:none; font-size: 17px;" class="white cyan-text font-weight-bold" mdbWavesEffect>Register as a Voila Guide</button>
</div>

<div class="my-3 my-md-5 mx-3 text-center">
    <h1 class="pb-4"><b>Your Voila options</b></h1>
    <div class="row">
        <div class="col-md-4 px-4 shows">
            <div>
                <strong style="font-size:20px;">Voila Originals</strong>
                <div>
                    Join one of our best-selling tours, created by Withlocals and hosted by multiple hosts. This is the perfect way to kickstart your hosting experience.
                </div>
            </div>
        </div>
        <div class="col-md-4 px-4 shows">
            <div>
                <strong style="font-size:20px;">Personal host offers</strong>
                <div>
                    Have a unique idea in mind? Create your own experience! Here, you set your own rules. Make your own itinerary, set up your price and manage your agenda.
                </div>
            </div>
        </div>
        <div class="col-md-4 px-4 shows">
            <div>
                <strong style="font-size:20px;">Best of both worlds</strong>
                <div>
                    Want to do both? No problem! At Withlocals you can join existing popular tours and host one of your own experiences too. A true formula for success!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-footer></app-footer>
    </div>
</div>