.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.p1 {
    background-image: url("https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/rice_fields.jpg");
    min-height: 430px;
}

.p2 {
    background-image: url("https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/priscilla-du-preez-unsplash.jpg");
    min-height: 300px;
}

.p3 {
    background-image: url("https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/photo-1524305001634-2e490ca2885a.jpeg");
    min-height: 300px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgclass {
    background: rgb(32, 185, 187);
    background: linear-gradient(241deg, rgba(32, 185, 187, 1) 3%, rgba(51, 228, 208, 1) 100%);
}

@media (max-width: 767px) {
    .shows {
        padding: 2em 0 2em 0;
    }
}

// .getStartedBlock {
//     padding: 0 30px 45px 30px;
// }

// @media(min-width: 767px) {
//     .getStartedBlock {
//         padding: 0 100px 45px 100px;
//     } 
// }