<div *ngIf="searchService.guidesList" class="request-card d-none d-lg-block">
    <mdb-card class="w-auto ml-lg-4 my-3 mx-md-3" *ngFor="let guide of searchService.guidesList">
        <div class="container1">
            <mdb-card-body class="p-3">
                <div class="row">
                    <div class="col-md-4 col-lg-3">
                        <img [src]="guide.picUrl ? guide.picUrl : 'https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/grayman.png'" 
                            class="" width="100%" height="100%" alt="...">
                    </div>
                    <div class="col-md-4 col-lg-5">
                        <mdb-card-title class="name" style="font-size: 20px;">
                            <strong [routerLink]="['/tourists/touristshome/guideProfile', guide._id]">
                                {{guide.gender}} {{guide.name}}</strong>
                        </mdb-card-title>
                        <hr class="my-1">
                        <div style="font-size: 16px;">
                            <div class="py-2">
                                <mdb-icon fas icon="birthday-cake" size="lg" class="brown-text pr-1"></mdb-icon>&nbsp;{{guide.dob | age}} years old
                            </div>
                            <div class="py-2">
                                <mdb-icon fas icon="map-marker-alt" size="lg" class="red-text pr-1"></mdb-icon>&nbsp; Lives in {{guide.city}}
                            </div>
                            <div class="py-2">
                                <mdb-icon fas icon="globe" size="lg" class="green-text pr-1"></mdb-icon>&nbsp;Speaks {{guide.languages[0]}} and more
                            </div>
                        </div>
                        <span class="float-right">
                            <a (click)="setSelectedGuide(guide)" class="text-info" [attr.aria-expanded]="selectedGuide == guide" [attr.aria-controls]="i" class="text-decoration-none">View more</a>
                        </span>
                    </div>
                    <div class="col-md-4 p-2" style="border-left: 1px solid rgba(128, 128, 128, 0.356);">
                        <div>
                            <div>Price Per Head Per Day</div>
                            <div>
                                <h2>₹ {{guide.perHeadCharge}}</h2>
                            </div>
                        </div>
                        <div class="text-center mb-2 mt-2">
                            <button (click)="openModal(personalTour, guide)" style="background-color: #22c1c3; color: white"
                            type="button" size="sm" class="btn">Request for Personalised Tour</button>
                        </div>
                        <div class=" mt-1 mb-0">
                            <i class="fa fa-star" *ngFor="let star of getRating(guide)" aria-hidden="true"></i>
                            &nbsp; ({{guide.reviewAndRating.length}}+ Reviews)
                        </div>
                    </div>
                </div>
            </mdb-card-body>
        </div>
        <div class="collapse mx-md-4" [id]="i" [ngbCollapse]="selectedGuide !== guide">
            <div class="mt-3">
                <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="Info-tab" data-toggle="tab" href="#Info" role="tab" aria-controls="Info" aria-selected="true">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="rating-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating" aria-selected="false">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="deal-tab" data-toggle="tab" href="#deal" role="tab" aria-controls="deal" aria-selected="false">Deals</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Info" role="tabpanel" aria-labelledby="Info-tab">
                        <div class="row my-2">
                            <div class="col-md-6">
                                <h4>Languages</h4>
                                <hr>
                                <p class="mb-1" *ngFor="let item of guide.languages">{{item | titlecase}}</p>
                            </div>
                            <div class="col-md-6">
                                <h4>Interests</h4>
                                <hr>
                                <p class="mb-1" *ngFor="let item of guide.interests">{{item}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rating" role="tabpanel" aria-labelledby="rating-tab">
                        <div class="row my-2">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <h1>
                                            <mdb-badge pill="true" primary="true">
                                                <i class="fa fa-star" *ngFor="let star of getRating(guide)" aria-hidden="true"></i></mdb-badge>
                                        </h1>
                                    </div>
                                    <div class="col-12">
                                        <b>Voila rating</b> based on {{guide.reviewAndRating.length}} reviews
                                    </div>
                                </div>
                                <div class="my-4">
                                    <h3>Recent Review</h3>
                                    <div>
                                        <p>Greate Experience feel great.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 my-1" style="border-left: 1px solid rgba(128, 128, 128, 0.308);">
                                <h4>More Reviews</h4>
                                <br>
                                <div class="row" *ngFor="let item of guide.reviewAndRating | slice:0:2">
                                    <div *ngIf="item.rating" class="col-sm-3">
                                        <h6>
                                            <mdb-badge pill="true" primary="true">{{item.rating}}</mdb-badge>
                                        </h6>
                                        <p><b>{{item.tourType | titlecase}} Tour</b></p>
                                    </div>
                                    <div  *ngIf="item.rating" class="col-sm-9" style="border-left: 1px solid rgba(128, 128, 128, 0.308);">
                                        <mdb-badge class="float-right" pill="true" info="true">Voila approved &nbsp;
                                            <mdb-icon fas icon="check-double"></mdb-icon>
                                        </mdb-badge>&nbsp;
                                        <p>{{item.review}}</p>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="deal" role="tabpanel" aria-labelledby="deal-tab">
                        <h3 class="text-black">Recommended deals</h3>
                        <div class="row p-2 text-center" *ngIf="getDealsList(guide)">
                            <div class="col-lg-3 col-md-4" *ngFor="let deal of getDealsList(guide) | slice:0:3">
                                <div class="view deal-card guide-card">
                                    <img [src]="'https://voilabucket2020.s3.ap-south-1.amazonaws.com/States/' + deal.state + '.jpg'" class="img-fluid" width="100%" alt="">
                                    <div class="mask rgba-purple-light white-text">
                                        <div class="text-center" style="overflow-wrap: break-word;">
                                            <h5>{{deal.places[0]?.place | titlecase}} and more</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" style=" border: 1px solid black; font-size: 15px;" 
                                    class="white-text black my-2" [routerLink]="['/tourists/touristshome/guideProfile', guide._id]"
                                    mdbWavesEffect>BOOK NOW!</button>
                                </div>
                            </div>
                            <div>
                                <button mdbBtn type="button" [routerLink]="['/tourists/touristshome/searchResult/dealsList']" 
                                 size="sm" color="primary" mdbWavesEffect>More Deals</button>
                            </div>
                        </div>
                        <div *ngIf="!getDealsList(guide)" class="row p-2 text-center">
                            <img class="image-fluid w-17 h-75 float-center m-auto " src="https://drive.google.com/file/d/1Wn0LLyy08Yu8WKvu2ScbUk1LeofvJ9qz/view?usp=sharing" alt="">
                            <h2>No Deals Avialable</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-card>
</div>

<div *ngIf="!searchService.guidesList"  class="row">
    <div class="col text-center">
        <img class="image-fluid w-25 h-75 m-auto " src="../../../../../assets/images/flamenco-page-not-found-1.png" alt="">
        <h1>No Guides Available here!</h1>
    </div>
</div>


<div *ngIf="searchService.guidesList"  class="row m-3 d-block d-lg-none">
    <div class="col-12 col-sm-6 col-md-6  mb-4" *ngFor="let guide of searchService.guidesList">
        <div class="view guide-card" style="position: relative;">
            <img [src]="guide.picUrl ? guide.picUrl : 'https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/grayman.png'" 
            width="100%" height="100%" alt="">
            <div class="mask mygradient white-text">
                <div class="float-right mx-2 mt-1"> <i class="fa fa-star star" aria-hidden="true"></i>
                    <i class="fa fa-star star" class="color: black" *ngFor="let star of getRating(guide)" aria-hidden="true"></i>
                    <div style="font-size:12px; color: black">({{guide?.reviewAndRating.length}}+ REVIEWS)</div>
                </div>
                <div style="position:absolute; bottom:6px; left:10px; overflow-wrap: break-word;">
                    <h4 [routerLink]="['/tourists/touristshome/guideProfile', guide._id]" 
                    class="guide-name">{{guide?.gender}} {{guide?.name | titlecase}}</h4>
                </div>
                <div style="position:absolute; bottom:30px; right:6px;" class="float-right">
                    <div class="text-center">₹{{guide?.perHeadCharge}}/head/day</div>
                    <button type="button" (click)="openModal(personalTour, guide)" style=" border: 1px solid black; font-size: 15px;" class="white black-text my-2" mdbWavesEffect>BOOK NOW!</button>
                </div>
            </div>
        </div>

    </div>
</div>




<!-- personal Tour Book -->
<div style="overflow-y: auto;" mdbModal #personalTour="mdbModal" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="mytourLabel" aria-hidden="true">
    <app-personal-modal [guide]="guide" (close)="personalTour.hide()"></app-personal-modal>
</div>
