.contained {
    object-fit: cover;
    height: auto;
    width: auto;
}

@media screen and (min-width: 1200px) {
    .contained {
        max-width: 245px;
        height: 215px;
        vertical-align: middle;
    }
}

.container1 {
    display: flex;
}

.deal-card p {
    font-size: 13px;
    margin: 0;
}

.requests {
    display: flex;
}

.side-card {
    // padding: 3px;
    background-color: rgba(189, 235, 122, 0.384);
}

.filters {
    border-right: 1px solid rgba(128, 128, 128, 0.342);
}

.star {
    font-size: 12px;
    font-size: 3vw
}

.mygradient {
    // background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0.65) 100%);
    // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(12, 12, 12, 0.8130602582830007) 100%);
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, rgba(12, 12, 12, 0.8662815467984069) 100%);
}

.guide-card {
    -webkit-box-shadow: 5px 5px 15px -7px rgba(102, 102, 102, 1);
    -moz-box-shadow: 5px 5px 15px -7px rgba(102, 102, 102, 1);
    box-shadow: 5px 5px 15px -7px rgba(102, 102, 102, 1);
    border-radius: 6px;
    // height: 40vh;
}

@media screen and (max-width: 380px) {
    .guide-name {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 330px) {
    .guide-name {
        font-size: 1em;
    }
}

.fa-star:before {
    content: "\f005";
    color: black;
}