.blog-container .blog-img {
    width: 100%;
    background-size: cover;
    height: 350px;
    z-index: -1;
  }
  
  .blog-container .overlay {
    background-color: #00000050;
    height: 350px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .blog-container .blog-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .blog-container .blog-text .width-box {
    min-width: 320px;
    max-width: 675px;
    padding: 0 20px;
  }

  .blog-container .blog-text .meta-data {
    margin-top: 80px;
    text-align: left;
    width: 100%;
  }

  .blog-container .blog-text .content {
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.5em;
  }

  .blog-container .blog-heading {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    z-index: 2;
    font-size: 24px;
  }

  .blog-container .blog-heading h1 {
    text-align: center;
  }


  .blog-container .blog-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    margin: -35px;
    z-index: 3;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blog-container .blog-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
  }

  .blog-container .flex {
    display: flex;
    flex-direction: column;
  }

  .blog-container .metadata-color {
    color: #686868;
  }