<div class="row mr-lg-5 ml-lg-2">
    <div class="mt-3 mx-3 mb-0 m-md-0 col-md-3 col-lg-2">
        <h4 class="mb-md-4 d-none d-md-block mt-5">QUICK LINKS</h4>
        <ul class="nav nav-pills" id="pills-tab" role="tablist">

            <li class="nav-item">
                <a class="nav-link active" id="tourists-tab" data-toggle="pill" href="#tourists" role="tab" aria-controls="tourists" aria-selected="true">Tourists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="guides-tab" data-toggle="pill" href="#guides" role="tab" aria-controls="guides" aria-selected="false">Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">Your Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="safety-tab" data-toggle="pill" href="#safety" role="tab" aria-controls="safety" aria-selected="false">Safety and Trust</a>
            </li>
        </ul>

    </div>
    <div class="col-12 col-md-9 pr-lg-4">
        <div class="tab-content pt-2 pl-1" id="pills-tabContent">
            <h1 class="section__headline pt-0 pt-lg-4">FAQs</h1>
            <div class="tab-pane fade show active" id="tourists" role="tabpanel" aria-labelledby="tourists-tab">
                <h2 class="c-faqs__headline">Tourists</h2>
                <h4 class="my-3 px-3">Bookings</h4>
                <ul class="c-faqs">
                    <li class="c-faq c-faq--active">
                        <span class="c-faq__title">How to make a booking on Voila?</span>
                        <div class="c-faq__answer">To book a Voila tour, follow the below stated easy steps:
                            <ul>
                                <li>Select your destination and suitable date to travel and search for all the deals and guides,</li>
                                <li>Filter your search according to preferable prices, ratings and more,</li>
                                <li>Then you have two alternatives,
                                    <ul>
                                        <li>
                                            Either Pick one of deals that you like and confirm the date, timings and enter the number of people for your booking and click the button "Book now" and get your tour booked.
                                        </li>
                                        <li>
                                            Or Pick one of the guides according to your preferences, visit his/her profile and click on the "Request a personalized tour" button. Then enter all your requirements and send the booking request to the guide. The guide will soon respond and you both
                                            will get to chat in our chatbox and hence finalise the booking.
                                        </li>
                                    </ul>
                                </li>
                                <li>You can clear all your doubts regarding your tour by discussing with your guide via the Voila chat. For deal tours, the tourists will be contacted in a group chat named as the tour's name.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="c-faq">
                        <span class="c-faq__title">Where do I find my booking details?</span>
                        <div class="c-faq__answer">Your booking details can be found under the Bookings section of your Voila profile when you are logged into the website or the app. Once you click on the bookings section, you can find all your current tour bookings, past bookings
                            and personal tour requests there each in a seperate tab. This section also has a link to the chat section which allows you to communicate directly with your host.</div>
                    </li>
                    <li class="c-faq">
                        <span class="c-faq__title">What if I have special needs for my experience?</span>
                        <div class="c-faq__answer">You should inform your tour guide about your requirements as soon as possible in your chat section. This shall allow the guide to customize the things the way you want.
                        </div>
                    </li>
                </ul>
                <h4 class="my-3 px-3">Personalized Tours</h4>
                <ul class="c-faqs">
                    <li class="c-faq">
                        <span class="c-faq__title">What’s a personalized tour?</span>
                        <div class="c-faq__answer">It is a tour which is created just for you andby you. Actually, Voila lets you choose a guide and tell him/her all your preferences- suitable date, time, place, duration etc and send a peronalized tour request to him. Then you
                            can further communicate the guide in the chatbox after he approves the request. </div>
                    </li>
                    <li class="c-faq">
                        <span class="c-faq__title">Is a personalized experience always private?</span>
                        <div class="c-faq__answer">Yes, they are always private. It will be only you and your host! In addition, a personalized experience is created especially for you, so it’s not possible for others to book this experience.
                        </div>
                    </li>



                </ul>
            </div>

            <!-- /end c-faqs -->
            <div class="tab-pane fade" id="guides" role="tabpanel" aria-labelledby="guides-tab">
                <h2 class="c-faqs__headline">Guides</h2>
                <h4 class="my-3 px-3">Basics</h4>
                <ul class="c-faqs">
                    <li class="c-faq">
                        <span class="c-faq__title">Who can become a Voila host?</span>
                        <div class="c-faq__answer">Voila is a platform to enable people share their love for their city and earn through the same. Requirements for our hosts:
                            <ul>
                                <li>One can be a full-time or part-time guide as per their availibility.</li>
                                <li>The one showing on the profile and tour on Voila. This person will always be the one providing the experience/tour and services and is the person who interacts with our guests.</li>
                                <li>As a guide, you are committed to represent Voila while interacting with the guests.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="c-faq">
                        <span class="c-faq__title">What services does Voila offer me as a Guide?</span>
                        <div class="c-faq__answer">Voila gives guides a platform to offer experiences to travellers from around the world. To enable travelers to find hosts and have an excellent customer experience, Voila delivers several services:
                            <ul>
                                <li>An easy to use platform to receive and manage bookings.</li>
                                <li> Outstanding customer service for hosts and travellers.</li>
                                <li>Promotion of our hosts and experiences on the platform.</li>
                            </ul>

                        </div>
                    </li>
                    <li class="c-faq">
                        <span class="c-faq__title">Hosting requirements</span>
                        <div class="c-faq__answer">The following requirements are minimum standards that hosts must fulfill to keep a Voila profile.
                            <ul>
                                <li>Being available and reachable by both the guests and the office, in particular for any urgent or time sensitive issue, and around the time of a booking.</li>
                                <li>Respecting the commitment that is a booking. Unforeseen situations can of course happen, but being late, cancelling or not showing up to a booking without informing your guests and without a valid reason is not acceptable</li>
                                <li>Avoiding any inappropriate behaviour such as smoking during a tour.</li>
                                <li>Remain impartial and keep a service mind and a calm temper when interacting with guests</li>
                                <li>Informing guests of relevant safety procedures when necessary, keeping the relevant emergency numbers and being aware of the closest medical facilities is a must.</li>
                                <li>Possession or use of illegal drugs on tour will result in instant removal from Voila platform.</li>
                            </ul>
                        </div>
                    </li>

                </ul>
                <h4 class="my-3 px-3">Tours and bookings</h4>
                <ul class="c-faqs">
                    <li class="c-faq">
                        <span class="c-faq__title">How do I contact my guests?</span>
                        <div class="c-faq__answer">Once you’ve listed your tour(s), guests can get in touch with you via our platform, with a direct message, a personalized offer request, or they can directly book your experience. Guest messages will appear in the "Messages" section
                            of your account, and bookings in the "Bookings" section. If there are personalized tour requests they will appear in the requests section. </div>
                    </li>
                    <li class="c-faq">
                        <span class="c-faq__title">What happens in case my guests didn't show up for a booking?</span>
                        <div class="c-faq__answer">
                            Here are some tips for dealing with late guests:
                            <ul>
                                <li>
                                    The day before the tour send the guests a message to let them know where you will be and send them travel tips on how to get there!
                                </li>
                                <li>If you have waited for 5 minutes, give the guests a call on the mobile number they have provided to see if they are close by or if they are lost.</li>
                                <li>If you don’t hear from them, let us know the situation, we’re here to help</li>
                            </ul>
                        </div>
                    </li>


                    <li class="c-faq c-faq">

                        <span class="c-faq__title">How to manage personalized tour booking pricing?</span>
                        <div class="c-faq__answer">You can decide the pricing for a personalized tour by contacting the tourist in the chat section and finalise it.</div>
                    </li>
                </ul>
            </div>
            <!-- /end c-faqs -->
            <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
                <h2 class="c-faqs__headline">Your Account</h2>
                <ul class="c-faqs">
                    <li class="c-faq">
                        <span class="c-faq__title">How do I create my account?</span>
                        <div class="c-faq__answer">You can explore all Voila deals and guides without signing up. However, it is necessary to sign up to complete a booking by creating an account. You can easily create an account by filling up some details in the register section-
                            there you can register as a tourist or a guide, as per your will. Once you sign up and login, your profile will be created where you can view all the related information.
                        </div>
                    </li>
                    <li class="c-faq">
                        <span class="c-faq__title">How to change my password?</span>
                        <div class="c-faq__answer">To do so, first login to your account and then click at an icon in the top-right corner and select "Change password" option there.

                        </div>
                    </li>
                    <li class="c-faq">
                        <span class="c-faq__title">How do I edit my account settings or profile?</span>
                        <div class="c-faq__answer">You can directly manage your personal information on the "Edit profile" page. After logging in to your account, you will find that option in a dropdown by clicking at an icon in the top-right corner.</div>
                    </li>


                </ul>
            </div>
            <!-- new tab -->
            <div class="tab-pane fade" id="safety" role="tabpanel" aria-labelledby="safety-tab">
                <h2 class="c-faqs__headline">Safety and Trust</h2>
                <ul class="c-faqs">
                    <li class="c-faq">
                        <span class="c-faq__title">What happens if I'm injured during my experience?</span>
                        <div class="c-faq__answer">Your safety is our first priority. If you’re injured or require medical attention while on an experience, you should get yourself to a safe place and contact local emergency services immediately, Voila Guide will ensure that you
                            are properly taken care of. Once you’re safe and your immediate concerns have been addressed, report the incident to us by going to the Profile tab of Voila website or app and tapping contact us.
                        </div>
                    </li>

                    <li class="c-faq">
                        <span class="c-faq__title">What happens if I have a bad experience with my host/guide?</span>
                        <div class="c-faq__answer">Voila tries its best to maintain good host quality. If your experience did not meet your expectations, or you had a negative experience with a guide, please let us know by writing to us at the contact us section.</div>
                    </li>
                    <li class="c-faq">
                        <span class="c-faq__title">Maintaining Hygiene- COVID-19 threat</span>
                        <div class="c-faq__answer">New hygiene standards are being implemented in our experiences. Of course, the most important thing for everyone is to stay safe during these times both for our guests and for our hosts. The following rules must be followed regarding
                            the same:
                            <ul>
                                <li>MASKS: Hosts and tourists both are required to follow local government recommendations and wear a mask during the experience to protect each others against any coughing, sneezing, or other action that could cause contamination.</li>
                                <li>HAND SANITIZERS: Hosts are recommended to carry hand sanitizer with them during the tour to be able to frequently wash their hands after touching certain things</li>
                                <li>1.5 METRE DISTANCE: Hosts should respect the 1.5-meter distance from the guests. This includes no handshaking with the guests at the beginning or end of the tour. A simple wave 👋 or a bow 🙏 goes a long way. </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    </div>