/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

/* font-family: 'Bangers', cursive;
font-family: 'Handlee', cursive;
font-family: 'Neucha', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poiret One', cursive; */