<div class="w-50">

  <div class="form-group">
  <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
  <label for="form2">Current Password</label>
  <input type="text" id="form2" class="form-control">
  
</div>
<div class="form-group">
  <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
  <label for="form2">New Password</label>
  <input type="text" id="form2" class="form-control">
  
</div>

<div class="form-group">
  <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
  <label for="form2">Confirm Password</label>
  <input type="text" id="form2" class="form-control">
  
</div>
</div>
