<div class="w-50">

  <div class="md-form">
  <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
  <input mdbInput type="text" id="form2" class="form-control">
  <label for="form2">Current Password</label>
</div>
<div class="md-form">
  <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
  <input mdbInput type="text" id="form2" class="form-control">
  <label for="form2">New Password</label>
</div>

<div class="md-form">
  <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
  <input mdbInput type="text" id="form2" class="form-control">
  <label for="form2">Confirm Password</label>
</div>
</div>
