<form [formGroup]="searchService.searchForm" class="pt-5 pb-4 px-4 bg" (ngSubmit)="submitForm()">
  <div class="row cust-grid ">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="city" [(ngModel)]="searchService.city" placeholder="Enter city">
        </div>
    </div>
    <!--  -->

    <div class="col-12 col-sm-6 col-md-6 col-lg-4 text-center">
      
      <div class="form-group">
        <div class="input-group">
          <input angular-mydatepicker name="mydate" formControlName="range" [(ngModel)]="searchService.range"
          class="form-control"  (ngModelChange)="changeRange($event)"
          [options]="myOptions" #dp="angular-mydatepicker"/>
          <div class="input-group-append">
            <button class="btn calendar" (click)="dp.toggleCalendar()" type="button">
              <mdb-icon size="lg" far icon="calendar-alt"></mdb-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-8 col-md-7 col-lg-2">
      <div class="form-group">
        <input type="number" class="form-control" formControlName="noOfPeople" [(ngModel)]="searchService.noOfPeople" placeholder="people">
      </div>
    </div>
    <!--  -->

    <div class="col-6 col-sm-4 col-md-5 col-lg-2">
      <div class="form-group">
          <button type="submit" class="btn btn-success btn-css btn-block">Submit</button>
      </div>
    </div>

  </div>
</form>

