<div class="edittop d-none d-md-block">
    <div class="row">
        <div class="col-6 p-5">
            <div class="edit-font white-text">
                EDIT PROFILE
            </div>
        </div>
        <div class="col-6">
            <img src="https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/undraw_wall_post_83ul (1).svg" class="float-right m-4" style="height: 280px; width:auto">
        </div>
    </div>
</div>
<div class="edittopsmall d-block d-md-none ">
    <h1>EDIT PROFILE</h1>
</div>
<div class="py-5 px-5 mx-lg-5">
    <div class="row font">
        <div class="col-md-3">
            <h4 style="color: #22c1c3">Personal Info</h4>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-10 col-md-11">
                    <h5 style="color: #22c1c3">{{userData.name | titlecase}}</h5>
                </div>
                <div class="col-2 col-md-1 edit-btn">
                    <a (click)="editpersonal.show()">
                        <mdb-icon fas icon="edit"></mdb-icon>
                    </a>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <b style="color: #22c1c3">Email </b>
                    <div> {{userData.email}}</div>
                </div>
                <div class="col-12 col-md-6">
                    <b style="color: #22c1c3"> Phone </b>
                    <div> {{userData.phoneNumber}}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 mb-3">
                    <b style="color: #22c1c3">Nationality </b>
                    <div>{{userData.nationality}}</div>
                </div>
                <div class="col-6 mb-3">
                    <b style="color: #22c1c3">Age </b>
                    <div>{{userData.age }} years old</div>
                </div>

            </div>


        </div>
    </div>
    <hr>
    <!--  -->
    <div class="row mt-4">
        <div class="col-3">
            <h4 style="color: #4caf4f ">Language</h4>
        </div>
        <div class="col-md-9 font">
            <div class="row mb-2" *ngFor="let item of userData.languages">
                <div class="col-10">
                    <b style="color: #4caf4fb7 ">{{item}}</b>
                </div>
                <div class="col-2">
                    <a (click)="removeLanguage(item)" class="float-right">
                        <mdb-icon fas icon="trash-alt" class="red-text pr-3"></mdb-icon>
                    </a>
                </div>
            </div>
            <a class="mb-3" (click)="addlanguage.show()"><b style="color: #4caf4f ">+Add more</b></a>
        </div>
    </div>
    <hr>
    <!--  -->
    <div class="row mt-4">
        <div class="col-3">
            <h4 style="color: rgb(255, 153, 0) ">Interests</h4>
        </div>
        <div class="col-md-9 font">
            <div class="row mb-2" *ngFor="let item of userData.interests">
                <div class="col-10">
                    <b style="color: rgba(255, 152, 0, 0.7) ">{{item}}</b>
                </div>
                <div class="col-2">
                    <a (click)="removeInterests(item)" class="float-right">
                        <mdb-icon fas icon="trash-alt" class="red-text pr-3"></mdb-icon>
                    </a>
                </div>
            </div>
            <a class="mb-3" (click)="addintrest.show()"><b style="color: rgb(255, 153, 0) ">+Add more</b></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <button type="button" class="btn bgrey white-text" mdbBtn size="md">Cancel</button> &nbsp;
        <button type="button" (click)="saveProfile()" class="btn dpurple white-text" mdbBtn size="md">Save</button>
    </div>
</div>

<div style="overflow-y: auto" mdbModal #editpersonal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header aquab" style="color: white; ">
                <button type="button" class="close pull-right" aria-label="Close" (click)="editpersonal.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100" id="myModalLabel">Edit Personal Details</h4>
            </div>
            <form [formGroup]="personalDetails" (ngSubmit)="submitPersonalDetails()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="form6">Gender</label>
                                <select class="form-control browser-default custom-select" formControlName="gender">
                                    <option value="" disabled>Select</option>
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Ms">Ms</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="form6">Name</label>
                                <input type="text" id="form6" class="form-control" formControlName="name">

                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-sm">
                                <label for="form11">Email</label>
                                <input type="email" id="form11" class="form-control" formControlName="email" disabled>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form6">Phone Number</label>
                                <input type="tel" id="form6" formControlName="phoneNumber" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form6">Age</label>
                                <input type="number" id="form6" formControlName="age" class="form-control">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-sm">
                                <label for="form11">Nationality</label>
                                <select formControlName="nationality" class="browser-default custom-select">
                                    <option value="" disabled>Nationality</option>
                                    <option *ngFor="let item of countryList" [value]="item.name">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" mdbBtn class="waves-light bgrey white-text" aria-label="Close" (click)="editpersonal.hide()" mdbWavesEffect>Close</button>
                    <button type="submit" mdbBtn class="relative waves-light aquab white-text" mdbWavesEffect>Save!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- add intrest modal -->
<div mdbModal #addintrest="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myaddintrestLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgba(255, 152, 0, 0.7); color: white; ">
                <button type="button" class="close pull-right" aria-label="Close" (click)="addintrest.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100" id="myModalLabel">Add Intrest</h4>
            </div>
            <form [formGroup]="interestsDetails" (ngSubmit)="addInterest()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="form1" class="">Interest</label>
                        <select formControlName="interest" class="form-control" class="browser-default custom-select" id="form1">
            <option value="" disabled>Select Interest</option>
            <option *ngFor="let item of interestList" [value]="item"> {{ item }}</option>
          </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" mdbBtn class="waves-light bgrey white-text" aria-label="Close" (click)="addintrest.hide()" mdbWavesEffect>Close</button>
                    <button type="submit" mdbBtn style="background-color: rgba(255, 152, 0, 0.7);" class="relative waves-light" mdbWavesEffect>Save!</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- add language -->

<div style="overflow-y: auto" mdbModal #addlanguage="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myaddlanguageLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgba(76, 175, 80, 0.7); color: white; ">
                <button type="button" class="close pull-right" aria-label="Close" (click)="addlanguage.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100" id="myModalLabel">Add language</h4>
            </div>
            <form [formGroup]="languagesDetails" (ngSubmit)="addLanguage()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="form1" class="">language</label>
                        <select formControlName="language" class="form-control" class="browser-default custom-select" id="form1">
                            <option value="" disabled>Select Language</option>
                            <option *ngFor="let item of languageList" [value]="item"> {{ item }}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" mdbBtn class="waves-light bgrey white-text" aria-label="Close" (click)="addlanguage.hide()" mdbWavesEffect>Close</button>
                    <button type="submit" style="background-color: rgba(76, 175, 80, 0.7);" mdbBtn class="relative waves-light white-text" mdbWavesEffect>Save!</button>
                </div>
            </form>
        </div>
    </div>
</div>