.trending {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    border-left: 2px solid black;
}

.explore-bt {
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.8;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(https://voilabucket2020.s3.ap-south-1.amazonaws.com/Assets/photo-1576948676159-ad6604dc1fd0.jpeg);
    min-height: 140px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p,
b {
    color: white;
}

.hover:hover {
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}